<div class="grid_12 alpha omega benefit_grid">
  <div class="inner_benefit_grid">
    <div class="benefit_grid_box left_side_box bene_odd_row">
      <div class="benefit_avatar_wrap bene1"></div>
      <div class="benefit_content_wrap">      
        <h3>Clinical Review MD’s, RNs & DDS’</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin nisl justo, <%= link_to "volutpat non sodales", "" %> in, malesuada sit amet tellus</p>
      </div>
    </div>
    <div class="benefit_grid_box right_side_box bene_odd_row">
      <div class="benefit_avatar_wrap bene2"></div>
      <div class="benefit_content_wrap">      
        <h3>Prepayment SaaS Solution</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin nisl justo, <%= link_to "volutpat non sodales", "" %> in, malesuada sit amet tellus</p>
      </div>
    </div>
    <div class="benefit_grid_box left_side_box bene_even_row">
      <div class="benefit_avatar_wrap bene3"></div>
      <div class="benefit_content_wrap">      
        <h3>Total Payor Customization</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin nisl justo, <%= link_to "volutpat non sodales", "" %> in, malesuada sit amet tellus</p>
      </div>
    </div>
    <div class="benefit_grid_box right_side_box bene_even_row">
      <div class="benefit_avatar_wrap bene4"></div>
      <div class="benefit_content_wrap">      
        <h3>Detailed Ad-Hoc Reporting</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin nisl justo, <%= link_to "volutpat non sodales", "" %> in, malesuada sit amet tellus</p>
      </div>
    </div>
    <div class="benefit_grid_box left_side_box bene_odd_row">
      <div class="benefit_avatar_wrap bene5"></div>
      <div class="benefit_content_wrap">      
        <h3>Real Time Claims Processing</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin nisl justo, <%= link_to "volutpat non sodales", "" %> in, malesuada sit amet tellus</p>
      </div>
    </div>
    <div class="benefit_grid_box right_side_box bene_odd_row">
      <div class="benefit_avatar_wrap bene6"></div>
      <div class="benefit_content_wrap">      
        <h3>Appeals Support & Response</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin nisl justo, <%= link_to "volutpat non sodales", "" %> in, malesuada sit amet tellus</p>
      </div>
    </div>
    <div class="benefit_grid_box left_side_box bene_even_row last_bene_row">
      <div class="benefit_avatar_wrap bene7"></div>
      <div class="benefit_content_wrap">      
        <h3>Immediate Realization of ROI</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin nisl justo, <%= link_to "volutpat non sodales", "" %> in, malesuada sit amet tellus</p>
      </div>
    </div>
    <div class="benefit_grid_box right_side_box bene_even_row last_bene_row">
      <div class="benefit_avatar_wrap bene8"></div>
      <div class="benefit_content_wrap">      
        <h3>Solutions For All Payor Types</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin nisl justo, <%= link_to "volutpat non sodales", "" %> in, malesuada sit amet tellus</p>
      </div>
    </div>
    <div class="clear"></div>
  </div>
</div>