<% form_for(@service, :html => {:multipart => true}) do |f| %>
  <%= f.error_messages %>
  <div class="grid_5">
    <h4>Service Content</h4>
    <p>
      <%= f.label :title %><br />
      <%= f.text_field :title %>
    </p>
    <p>
      <%= f.label :description %><br />
      <%= f.text_area :description, :rows => 5, :cols => 29 %>
    </p>
    <p>
      <%= f.label :avatar, "Avatar" %><br/>
      <%= f.file_field :avatar, :size => 16 %>
    </p>
    <p>
      <% for asset in @service.assets %>
      <% fields_for "service[attachments][]", asset do |asset_form|%>
      <%= asset_form.label "Add Attachment" %><br />
      <%= asset_form.file_field :attachment, :size => 16 %>
      <% end %>
      <% end %>
    </p>
  </div>
  <div class="grid_5">
    <h4>Service SEO</h4>
    <p>
      <%= f.label :permalink %><br />
      <%= f.text_field :permalink %>
    </p>
    <p>
      <%= f.label :keywords %><br />
      <%= f.text_field :keywords %>
    </p>
  </div>
  <div class="clear"></div>
  <div class="grid_5"
    <p>
      <%= f.submit 'Submit', :class => "btn" %>
      <%= link_to "Back", request.env["HTTP_REFERER"], :class => "btn" %>
    </p>
  </div>
<% end %>