<div class="index_service_wrap">
  <h2 class="service_header <%= serv.permalink %>_service_header"><%= serv.title %></h2>
  <p class="<%= serv.permalink %>_index_text"><%= serv.meta_description %></p>
  <%= link_to "#{serv.title}", service_path(serv), :class => "#{serv.permalink}_index_wrap service_avatar #{serv.claim_type.claim_type}" %>
  <%= link_to "Learn More >", service_path(serv), :class => "right" %>
</div>