<div class="pro_sol_boxes solution_box <%= s.permalink %>_sol_box_bg">
  <h2 class="problem_header">The Solution</h2>
  <div class="solution_grid">
    <% if s.acronym === "PCI" %>
      <%= render :partial => 'services/pci_sol_grid' %>
    <% elsif s.acronym === "FCI" %>
      <%= render :partial => 'services/fci_sol_grid' %>
    <% elsif s.acronym === "DCI" %>
      <%= render :partial => 'services/dci_sol_grid' %>
    <% elsif s.acronym === "OCI" %>
      <%= render :partial => 'services/oci_sol_grid' %>
    <% elsif s.acronym === "RxI" %>
      <%= render :partial => 'services/rxi_sol_grid' %>
    <% else s.acronym === "VCI" %>
      <%= render :partial => 'services/vci_sol_grid' %>
    <% end %>
    <div class="clear"></div>
  </div>
</div>