<% if @service.keywords
  meta_keywords(@service.keywords)
  end %>
<% if @service.meta_description
  meta_description(@service.meta_description)
  end %>
<% page_title "#{h(@service.title)}"%>

<% content_for :banner do %>
  <%= render :partial => "services/banner", :locals => {:s => @service}%>
<% end %>
<%= render :partial => "show_service", :locals => {:service => @service} %>
<%= render :partial => "show_quote", :locals => {:service => @service} %>
<%= render :partial => "pro_sol", :locals => {:service => @service} %>
<%= render :partial => "services/service_grid", :locals => {:s => @service} %>

<div class="clear"></div>
  <% if current_user %>
  <div class="grid_12 full_wrap">
    <%= link_to 'New', new_service_path %> |
    <%= link_to 'Edit', edit_service_path(@service) %>
    </div>
<% end %>


<% content_for :javascripts do %>
  <script type="text/javascript" charset="utf-8">
    $(document).ready(function() {
      app.ctaArrows();
    });
  </script>
<% end %>