<% if @service.keywords
  meta_keywords(@service.keywords)
  end %>
<% if @service.meta_description
  meta_description(@service.meta_description)
  end %>
<% page_title "#{h(@service.title)}"%>

<% content_for :banner do %>
  <%= render :partial => "health_care/inner_banners" %>
  <%= render :partial => "health_care/banner_side_box" %>
<% end %>

<%= render :partial => "show_service", :locals => {:service => @service} %>
<div class="clear"></div>
<div class="grid_12"><% if current_user %>
  <%= link_to 'New', new_service_path %> |
  <%= link_to 'Edit', edit_service_path(@service) %> |
  <% end %>
  <%= link_to 'Back', services_path %>
</div>