<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
   "http://www.w3.org/TR/html4/loose.dtd">
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <style type="text/css" media="screen">
      h3 { color: #f00; }
      ul { list-style-type: none; }
      li { list-style-type: none; }
    </style>
</head>
<body>
  <h3>HCInsight.com :: Contact Us</h3>
  <h4>Contact Requestor:</h4>
  <ul>
    <li>From: <%= @contact[:contact_us_contact_name] %></li>
    <li>Business: <%= @contact[:contact_us_business_name] %></li>
    <li>Email: <%= @contact[:contact_us_email] %></li>
    <li>Phone: <%= @contact[:contact_us_phone] %></li>
    <li>Street: <%= @contact[:contact_us_street] %></li>
    <li>City: <%= @contact[:contact_us_city] %></li>
    <li>State: <%= @contact[:contact][:state] %></li>
    <li>Zip Code: <%= @contact[:contact_us_zip_code] %></li>
  </ul>
  <p>
    <h4>Contact Interests:</h4>
    <ul>
      <% @contact[:contact][:interest].each do |interest| %>
      <li><%= interest %></li>
      <% end %>
    </ul>
  </p>
  <p>
  <h4>Comment:</h4>
  <%= @contact[:contact_us_message] %>
    <p>
      <ul>
        <li><code>Generated at <%= @sent_on.to_s %></code></li>
      </ul>
    </p>
  </p>
</body>
</html>