<html>
<head>
   <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
   <title><h5>HCInsight.com :: Employee Ticket System</h5></title>
   <style>
    div.wrap {
      font-family: Helvetica, 'MS Trebuchet', sans-serif;
    }
   </style>
</head>
<body>
<div class="wrap">
<table width="100%" border="0" cellspacing="0" cellpadding="0" class="bg1">
   <tr>
      <td align="center">
         
         <table width="600" border="0" cellspacing="0" cellpadding="0" class="bg2">
            <tr>
               <td class="header" align="left">
                  <h4>HCInsight.com :: Employee Ticket System</h4>
               </td>
            </tr>
            <tr>
               <td valign="top" class="body">
                  <table width="100%" border="0" cellspacing="0" cellpadding="0">
                     <tr>
                        <td width="370" valign="top" class="mainbar" align="left">
                           <h4>Ticket: <%=h @ticket.subject %></h4>
                           <br />
                           <h4>Update Message: </h4>
                           <%=h @update %>
                           <br />
                           <ul>
                             <li>Updated by: <%=h @owner.fullname %></li>
                           </ul>
                           <h4>Original Ticket</h4>
                           <%= @ticket.description %>
                        </td>
                        
                        <td width="20"></td>
                        
                        <td valign="top" width="170" class="sidebar" align="left">
                           <h5>Due Date:</h5>
                           <ul>
                              <li><%=h @ticket.due_date %></li>
                           </ul>
                           <br />
                           <h5>Current Status:</h5>
                           <ul>
                              <li><%=h @status.status_name %></li>
                           </ul>
                           <h5>Priority Level:</h5>
                           <ul>
                              <li><%=h @priority.priority_name %></li>
                           </ul>
                           <br />
                           
                           <h5>Assigned To:</h5>
                           <ul>
                             <% @employees.each do |employee| %>
                               <li><%=h employee.fullname %></li>
                             <% end %>
                           <ul>
                        </td>
                     </tr>
                  </table>
               </td>
            </tr>
            <tr>
               <td valign="middle" align="left" class="footer" height="61">
               </td>
            </tr>
         </table>
         
      </td>
   </tr>
</table>
</div>
</body>
</html>