<% page_title("Health Care Press ") %>

<% content_for :banner do %>
  <%= render :partial => 'announcements/banner' %>
<% end %>

<% content_for :sidebar do %>
  <%= render :partial => 'layouts/sub_boxes' %>
<% end %>

<div class="index_list">
  <h2>HCI Articles</h2>
<%= render :partial => "articles/index_article", :locals => {:articles => @articles} %>
</div>
<div class="index_list">
  <h2>Third Party Articles</h2>
<%= render :partial => "articles/index_article", :locals => {:articles => @third_party_articles} %>
</div>
<div class="index_list">
  <h2>Press Releases</h2>
<%= render :partial => "articles/index_article", :locals => {:articles => @press_releases} %>
</div>

