<% form_for(employee, :html => {:multipart => true}) do |f| %>
  <%= f.error_messages %>
  <div class="grid_4 omega">
    <p>
      <h5>Edit Password</h5>
      <%= f.label :password %><br />
      <%= f.text_field :password %>
    </p>
    <p>
      <%= f.label :password_confirmation %><br />
      <%= f.text_field :password_confirmation %>
    </p>
  </div>
  <div class="grid_4 omega">
    <p>
      <h5>Edit Picture</h5>
      <br/>
      <%= f.file_field :avatar, :size => 16 %>
    </p>
  </div>
  <div class="grid_4 omega">
    <p>
      <h5>Edit Phone</h5>
      <%= f.label :home_phone %><br />
      <%= f.text_field :home_phone %>
    </p>
    <p>
      <%= f.label :cell_phone %><br />
      <%= f.text_field :cell_phone %>
    </p>
    <p>
      <%= f.label :home_fax %><br />
      <%= f.text_field :home_fax %>
    </p>
  </div>
  <div class="clear"></div>
  <p>
    <%= f.submit 'Submit' %>
  </p>
<% end %>