<div class="executive_summit_form_wrap">
  <% form_tag("http://www2.hcinsight.com/l/1492/2010-02-25/GHX0F", :method => "post", :id => "contact_form") do %>
    <div class="visible_field">
      <%= label :contact, :contact_first_name, "First Name" %><br />
      <%= text_field :contact, :contact_first_name, :name => "free_ipod_ahip_first_name" %>
    </div>
    <div class="visible_field">
      <%= label :contact, :contact_last_name, "Last Name" %><br />
      <%= text_field :contact, :contact_last_name, :name => "free_ipod_ahip_last_name" %>
    </div>
    <div class="visible_field">
      <%= label :contact, :email, "Email Address" %><br />
      <%= text_field :contact, :email, :name => "free_ipod_ahip_email" %>
    </div>
    <div class="visible_field">
      <%= label :contact, :business_name, "Company" %><br />
      <%= text_field :contact, :business_name, :name => "free_ipod_ahip_business_name" %>
    </div>
    <div class="visible_field">
      <%= label :contact, :comment, "Comments" %><br />
      <%= text_area :contact, :comment, :name => "free_ipod_ahip_comment", :rows => 3, :cols => 28   %>
    </div>
    <div class="visible_field">
      <%= label :contact, :position, "Position" %><br />
      <%= text_field :contact, :position, :name => "free_ipod_ahip_position" %>
    </div>
    <%= submit_tag 'Register', :class => "big_black_submit executive_submit", :title => "Submit Your Message to HealthCare Insight" %>
  <% end %>
</div>