<% page_title("Health Care Search ") %>

<% content_for :banner do %>
  <%= render :partial => 'search/banner' %>
<% end %>

<% unless @services.blank? %>
<h3>Service Search Results</h3>
<%= render :partial => "services/index_list", :locals => {:services => @services} %>
<% end %>

<% unless @articles.blank? %>
<h3>Article Search Results</h3>
<%= render :partial => "articles/index_article", :locals => {:articles => @articles} %>
<% end %>

<% unless @documents.blank? %>
<h3>Document Search Results</h3>
<%= render :partial => "documents/index_document", :locals => {:documents => @documents} %>
<% end %>

<% unless @events.blank? %>
<h3>Event Search Results</h3>
<%= render :partial => "events/index_event", :locals => {:events => @events} %>
<% end %>

<% unless @links.blank? %>
<h3>Link Search Results</h3>
<%= render :partial => "links/index_link", :locals => {:links => @links} %>
<% end %>

<div class="space_left">
  <%= link_to "Back", request.env["HTTP_REFERER"], :class => "btn"%>
</div>