<% page_title("Health Care Search ") %>

<% content_for :banner do %>
  <%= render :partial => 'search/banner' %>
<% end %>

<% unless @services.empty? %>

<div class=" full_20_wrap">
  <h3>Service Search Results</h3>
  <%= render :partial => "services/index_list", :locals => {:services => @services} %>
</div>

<% end %>



<% unless @articles.empty? %>

<div class=" full_20_wrap">
<h3>Article Search Results</h3>
<%= render :partial => "articles/index_article", :locals => {:articles => @articles} %>
</div>
<% end %>

<% unless @videos.empty? %>

<div class=" full_20_wrap">
<h3>Videos Search Results</h3>
<%= render :partial => "videos/index_video", :locals => {:videos => @videos} %>
</div>
<div id="video_div" class="overlay">
    <!-- flowplayer container --> 
    <div id="player"></div>
</div>
<%= javascript_include_tag 'index_videos' %>
<% end %>



<% unless @documents.empty? %>

<div class=" full_20_wrap">
<h3>Document Search Results</h3>
<%= render :partial => "documents/index_document", :locals => {:documents => @documents} %>
</div>
<% end %>



<% unless @events.empty? %>

<div class=" full_20_wrap">
<h3>Event Search Results</h3>
<% @events.each do |obj| %>
<%= render :partial => "events/index_event", :locals => {:obj => obj} %>
<% end %>
</div>
<% end %>
<div class="clear"></div>
<% if @services.empty? && @articles.empty? && @videos.empty? && @documents.empty? && @events.empty? %>
  <div class="full_20_wrap">
    <% flash[:notice] = "No results found" %>
    <h2 class="orange">No Results Found. Please try again</h2>
  </div>
<% end %>
<div class="full_20_wrap">
  <%= link_to "Back", request.env["HTTP_REFERER"], :class => "btn"%>
</div>