<% form_for(@article, :html => {:multipart => true }) do |f| %>
  <%= f.error_messages %>

<div class="grid_5">
  <h4>Article Content</h4>
  <p>
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </p>
  <p>
    <%= f.label :description %><br />
    <%= f.text_area :description, :rows => 5, :cols => 28 %>
  </p>
  <p>
    <%= f.label "Choose Article Type" %><br />
    <%= collection_select(:article, :article_type_id, @article_types, :id, :article_type)%>
  </p>
  <p>
    <% for asset in @article.assets %>
    <% fields_for "article[attachments][]", asset do |asset_form|%>
    <%= asset_form.label "Add Attachment" %><br />
    <%= asset_form.file_field :attachment, :size => 16 %>
    <% end %>
    <% end %>
  </p>
  <p>
    <% for cover in @article.coverflows %>
    <% fields_for "article[covers][]", cover do |cover_form|%>
    <%= cover_form.label "Add Cover Flow" %><br />
    <%= cover_form.file_field :cover, :size => 16 %>
    <% end %>
    <% end %>
  </p>
</div>
<div class="grid_5">
  <h4>Article SEO</h4>
  <p>
    <%= f.label :meta_description %><br />
    <%= f.text_area :meta_description, :rows => 5, :cols => 28 %>
  </p>
  <p>
    <%= f.label :keywords %><br />
    <%= f.text_field :keywords %>
  </p>
  <p>
    <%= f.label :permalink %><br />
    <%= f.text_field :permalink %>
  </p>
</div>
<div class="grid_5">
  <h3>Article Dependencies</h3>
  <p>
    <%= link_to "Create New Article Type", new_article_type_path %>
  </p>
  <p>
    <h4>Article Types Available</h4>
    <ul>
      <% for article_type in @article_types %>
      <li><%= article_type.article_type %></li>
      <% end %>
    </ul>
  </p>
</div>
<div class="clear"></div>
<div class="grid_5"
  <p>
    <%= f.submit 'Submit', :class => "btn" %>
    <%= link_to "Back", request.env["HTTP_REFERER"], :class => "btn" %>
  </p>
</div>
<% end %>