<h1>Listing articles</h1>

<table>
  <tr>
    <th>Title</th>
    <th>Description</th>
    <th>Article type</th>
    <th>Keywords</th>
    <th>Permalink</th>
  </tr>

<% @articles.each do |article| %>
  <tr>
    <td><%=h article.title %></td>
    <td><%=h article.description %></td>
    <td><%=h article.article_type.article_type %></td>
    <td><%=h article.keywords %></td>
    <td><%=h article.permalink %></td>
    <% if current_user %>
    <td><%= link_to 'Show', article %></td>
    <td><%= link_to 'Edit', edit_article_path(article) %></td>
    <td><%= link_to 'Destroy', article, :confirm => 'Are you sure?', :method => :delete %></td>
    <% end %>
  </tr>
<% end %>
</table>

<br />
<% if current_user %>
<%= link_to 'New article', new_article_path %> | 
<% end %>
<%= link_to "Back", request.env["HTTP_REFERER"] %>