<% page_title "#{@article.title} " %>

<% content_for :banner do %>
  <%= render :partial => "articles/banner" %>
<% end %>

<% content_for :sidebar do %>
  <%= render :partial => 'layouts/sub_boxes' %>
<% end %>

<%# This is in the application helper %>
<%= show_page_listing(@article) %>

<div class="right">
<% if current_user %>
  <%= link_to 'Edit', edit_article_path(@article) %> |
  <%= link_to 'New', new_article_path %> |
<% end %>
<%= link_to "Back", request.env["HTTP_REFERER"] %>
</div>