<% if @article.keywords
  meta_keywords(@article.keywords)
  end %>
<% if @article.meta_description
  meta_description(@article.meta_description)
  end %>
<% page_title "#{@article.title} " %>

<%# This is in the application helper %>
<%= render :partial => 'article', :locals => {:article => @article} %>
<%= render :partial => 'articles_micro_list', :locals => {:objects => @articles} %>


<div class="full_20_wrap widget_links grid_3 omega right">
<% if current_user %>
  <%= link_to 'Edit', edit_article_path(@article) %> |
  <%= link_to 'New', new_article_path %> |
<% end %>
<%= link_to "Back", request.env["HTTP_REFERER"] %>
</div>