<div id="iu_slider" class="small_scroller_box">
  <div id="iu_scroll">
    <div id="iu_scrollContainer">
      <div id="panel1" class="panels">
        <h3>Learn From Industry Professionals</h3>
        <%= image_tag('insight_university/index_panels/pci_icon.png', :class => "left") %>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat.</p>
      </div>
      <div id="panel2" class="panels">
        <h3>Stay up to date with the latest schemes</h3>
        <%= image_tag('insight_university/index_panels/gears.png', :class => "left") %>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat.</p>
      </div>
      <div id="panel3" class="panels">
        <h3>Watch at your own pace</h3>
        <%= image_tag('insight_university/index_panels/webinar_screen.png', :class => "left") %>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat.</p>
      </div>
    </div>
  </div>
  <div id="scroller_nav">
    <div class="iu_banner_nav">
       <ul id="iu_banner_nav_ul" class="iu_nav_ul iu_navigation">
         <li class="b_nav1 iu_banner_li">
            <%= link_to "1", '#panel1', :class => 'selected' %>
          </li>
         <li class="b_nav2 iu_banner_li">
           <%= link_to "2", '#panel2'%>
         </li>
         <li class="b_nav3 iu_banner_li">
           <%= link_to "3", '#panel3'%>
         </li>
       </ul>
     </div>
  </div>
</div>