  <ul id="iu_index_list" class="side_20_wrap">
    <li>
      <%= image_tag('insight_university/tiles/pci_tile.jpg', :class => "iu_service_tile_small left") %>
      <%= link_to "<h3>PhysicianClaim Insight Center</h3>", "#", :class => "index_center_header_link"%>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
    </li>
    <li>
      <%= image_tag('insight_university/tiles/dci_tile.jpg', :class => "iu_service_tile_small left") %>
      <%= link_to "<h3>DentalClaim Insight Center</h3>", "#", :class => "index_center_header_link"%>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
    </li>
    <li>
      <%= image_tag('insight_university/tiles/fci_tile.jpg', :class => "iu_service_tile_small left") %>
      <%= link_to "<h3>FacilityClaim Insight Center</h3>", "#", :class => "index_center_header_link"%>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
    </li>
    <li>
      <%= image_tag('insight_university/tiles/oci_tile.jpg', :class => "iu_service_tile_small left") %>
      <%= link_to "<h3>OncologyClaim Insight Center</h3>", "#", :class => "index_center_header_link"%>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
    </li>
    <li>
      <%= image_tag('insight_university/tiles/rxi_tile.jpg', :class => "iu_service_tile_small left") %>
      <%= link_to "<h3>PharmaClaim Insight Center</h3>", "#", :class => "index_center_header_link"%>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
    </li>
    <li>
      <%= image_tag('insight_university/tiles/vci_tile.jpg', :class => "iu_service_tile_small left") %>
      <%= link_to "<h3>VisionClaim Insight Center</h3>", "#", :class => "index_center_header_link"%>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
    </li>
    <li class="last">
    </li>
  </ul>