<% form_for(@friend_invite) do |f| %>
  <%= f.error_messages %>
  <div class="field">
    <%= f.label :sender_name, "Your Name" %><br />
    <%= f.text_field :sender_name %>
  </div>
  <div class="field">
    <%= f.label :receiver_email, "Your Friends Email" %><br />
    <%= f.text_field :receiver_email %>
  </div>
  <div class="button_field">
    <%= submit_tag "#{button_text}", :class => "big_black_submit", :title => "Submit Your Message to HealthCare Insight" %>
  </div>
<% end %>