<div id="iu_main_nav" class="grid_8 alpha omega">
  <ul id="iu_main_nav_ul" class="iu_nav_ul">
    <li class="iu_main_nav_li nav1 highlight"><%= link_to "HCI", home_path, :id => "iu_home", :class => "main_nav_a" %></li>
    <li class="iu_main_nav_li nav2 highlight"><%= link_to "Services", "#", :id => "iu_services", :class => "main_nav_a" %></li>
    <li class="iu_main_nav_li nav3 highlight"><%= link_to "Resources", uni_resources_path, :id => "iu_resources", :class => "main_nav_a" %></li>
    <li class="iu_main_nav_li nav4 highlight"><%= link_to "Programs", "#", :id => 'iu_programs', :class => "main_nav_a" %></li>
    <li class="iu_main_nav_li nav5 highlight last"><%= link_to "Client Center", student_login_path, :id => 'iu_student', :class => "main_nav_a" %></li>
  </ul>
</div>