<div class="full_20_wrap">
  <table id="events_table" class="display">
    <thead>  
      <tr>
        <th>Title</th>
        <th>Description</th>
        <th>View Product</th>
        <th>Edit Product</th>
        <th>Delete Product</th>
      </tr>
    </thead>

    <tbody>
      <% @events.each do |s| %>
        <tr>
          <td><%=h s.title %></td>
          <td><%= truncate(s.description, :length => 250) %></td>
          <td><%= link_to 'View Event', event_path(s) %></td>
          <td><%= link_to 'Update Event', edit_event_path(s) %></td>
          <td><%= link_to 'Delete Event', s, :confirm => 'Are you sure?', :method => :delete %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <%= link_to 'New Event', new_event_path %>
</div>