<% form_for(@video, :html => {:multipart => true}) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </p>
  <p>
    <%= f.label :description %><br />
    <%= f.text_area :description, :cols => 28, :rows => 5 %>
  </p>
  <p>
    <%= f.label :permalink %><br />
    <%= f.text_field :permalink %>
  </p>
  <p>
    <%= f.label :video_type_id, "Video Type" %><br />
    <%= collection_select(:video, :video_type_id, VideoType.all, :id, :video_type) %>
  </p>
  <p>
    <%= f.label :video, "Video File (flv or f4v)" %><br />
    <%= f.file_field :video %>
  </p>
  <p>
    <%= f.label :video_thumb, "Video Thumbnail (512x288)" %><br />
    <%= f.file_field :video_thumb %>
  </p>
  <p>
    <%= f.label :third_party, "Third Party Video?" %><br />
    <%= f.check_box :third_party %>
  </p>
  <p>
    <%= f.label :third_party_url, "Third Party Link" %><br />
    <%= f.text_field :third_party_url %>
  </p>
  <p class="top_20_wrap">
    <%= f.submit 'Submit' %>
    <%= link_to 'Back', videos_path %>
  </p>
<% end %>