<div class="grid_12 alpha omega full_wrap"><h1>Listing videos</h1>

<table>
  <tr>
    <th>Title</th>
    <th>Description</th>
    <th>Video type</th>
    <th>Third party</th>
    <th>Third party url</th>
  </tr>

<% @videos.each do |video| %>
  <tr>
    <td><%=h video.title %></td>
    <td><%=h video.description %></td>
    <td><%=h video.video_type_id %></td>
    <td><%=h video.third_party %></td>
    <td><%=h video.third_party_url %></td>
    <td><%= link_to 'Show', video %></td>
    <td><%= link_to 'Edit', edit_video_path(video) %></td>
    <td><%= link_to 'Destroy', video, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New video', new_video_path %></div>