<% page_title "HealthCare Insight Events "%>

<% content_for :banner do %>
  <%= render :partial => "events/banner" %>
<% end %>

<% content_for :sidebar do %>
  <%= render :partial => 'layouts/sub_boxes' %>
<% end %>

<%#= render :partial => "# Put helper Here" %>

<table>
  <tr>
    <th>Title</th>
    <th>Description</th>
    <th>Keywords</th>
    <th>Permalink</th>
  </tr>

<% @events.each do |event| %>
  <tr>
    <td><%=h event.title %></td>
    <td><%=h event.description %></td>
    <td><%=h event.keywords %></td>
    <td><%=h event.permalink %></td>
    <td><%= link_to 'Show', event %></td>
    <% if current_user %>
    <%= link_to 'New event', new_event_path %> |
    <%= link_to 'Edit', edit_event_path(event) %> |
    <%= link_to 'Destroy', event, :confirm => 'Are you sure?', :method => :delete %>
    <% end %>
  </tr>
<% end %>
</table>

<br />
