<h1>Listing document_types</h1>

<table>
  <tr>
    <th>Document type</th>
    <th>Document extension</th>
  </tr>

<% @document_types.each do |document_type| %>
  <tr>
    <td><%=h document_type.document_type %></td>
    <td><%=h document_type.document_extension %></td>
    <td><%= link_to 'View', document_type %></td>
    <td><%= link_to 'Edit', edit_document_type_path(document_type) %></td>
    <td><%= link_to 'Delete', document_type, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New document_type', new_document_type_path %>