<% form_for(@priority) do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :priority_name %><br />
    <%= f.text_field :priority_name %>
  </p>
  <p>
    <%= f.label :priority_type %><br />
    <%= f.text_field :priority_type %>
  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>