<h1>Editing priority</h1>

<% form_for(@priority) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :priority_type %><br />
    <%= f.text_field :priority_type %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @priority %> |
<%= link_to 'Back', priorities_path %>