<div id="slider" class="index_banner">
  <div class="scroll">
    <div class="scrollContainer">
      <div id="panel1" class="panel">
        <%= link_to "Experience Nucleus", "http://www2.hcinsight.com/l/1492/2010-02-02/GDE2L", :class => "home_panel_icon_link" %>
        <h2 class="hide_text"><%= h banner.headline %></h2>
        <p class="hide_text"><%= h banner.content %></p>
        <%= image_tag(banner.banner.url(:main), :alt => "#{banner.headline}", :class => "home_banner")%>
        
        <div class="banner_cta_wrap">
          <%= link_to(image_tag('ads/ipad.jpg'), "http://www2.hcinsight.com/l/1492/2010-02-02/GDE2L", :class => "main_link") %>
          <h3><b>ClaimSaver Webinars</b></h3>
          <p>Attend our complimentary webinar series to learn more about HCI’s innovative services.</p>
          <%= link_to "Learn More", "http://www2.hcinsight.com/l/1492/2010-07-02/HJ31V", :class => "text_link" %>
        </div>
        
      </div>
      <div id="panel2" class="panel">
        <h2 class="nucleus_header index_who_header">Claim Saver Webinars</h2>
        <%= image_tag("/images/banners/inner_banners/claim_saver_dci_banner.png") %>
        <div class="claim_saver_button">
          <%= link_to "Register", "http://www2.hcinsight.com/l/1492/2010-08-09/I1BE7" %>
        </div>
      </div>
      <div id="panel3" class="panel">
        <%= link_to "Experience Nucleus", about_path, :class => "home_panel_icon_link" %>
        <h2 class="nucleus_header index_who_header">Who We Are.</h2>
        <%= image_tag("/images/banners/inner_banners/who_banner.png") %>
        <%= render :partial => 'health_care/big_index_banner_cta' %>
      </div>
      <div id="panel4" class="panel">
        <h2 class="nucleus_header index_what_header">What We Do.</h2>
        <%= link_to "Experience Nucleus", services_path, :class => "home_panel_icon_link" %>
        <%= image_tag("/images/banners/inner_banners/what_banner.png") %>
        <%= render :partial => 'health_care/big_index_banner_cta' %>
      </div>
      <div id="panel5" class="panel">
        <h2 class="nucleus_header index_why_header">Why Choose Us.</h2>
        <%= link_to "Experience Nucleus", benefits_path, :class => "home_panel_icon_link" %>
        <%= image_tag("/images/banners/inner_banners/why_banner.png") %>
        <%= render :partial => 'health_care/big_index_banner_cta' %>
      </div>
    </div>
  </div>
  <%= render :partial => 'health_care/index_banner_nav', :locals => {:banner => @banner} %>
</div>