<div id="slider" class="index_banner">
  <div class="scroll">
    <div class="scrollContainer">
      <div id="panel1" class="panel">
        <!-- <% if banner.secondary_banners %>
          <%= link_to "Experience Nucleus", nucleus_path, :class => "home_panel_icon_link" %>
        <% end %> -->
        <h2 class="hide_text"><%= h banner.headline %></h2>
        <p class="hide_text"><%= h banner.content %></p>
         <%= image_tag(banner.banner.url(:main), :alt => "#{banner.headline}", :class => "home_banner")%>
         <% unless banner.secondary_banners %>
           <div class="banner_button button_<%=banner.button_position %> <%=banner.button_color %>_banner_button">
            <%= link_to "#{banner.button_text}", "#{banner.button_url}", :class => "banner_button_text" %>
           </div>
         <% end %>
         <% if banner.secondary_banners %>
         <div id="banner_diamonds">
          <ul>
            <li class="diamond_1 highlight">
            <%= link_to "Free Webinar", "http://www2.hcinsight.com/l/1492/2010-02-02/GDE2L", :class => "index_banner_1_link" %>
            </li>
          </ul>
         </div>
         <% end %>
      </div>
      <div id="panel2" class="panel">
        <%= link_to "Experience Nucleus", about_path, :class => "home_panel_icon_link" %>
        <h2 class="nucleus_header index_who_header">Who We Are.</h2>
        <%= image_tag("/images/banners/inner_banners/who_banner.png") %>
      </div>
      <div id="panel3" class="panel">
        <h2 class="nucleus_header index_what_header">What We Do.</h2>
        <%= link_to "Experience Nucleus", services_path, :class => "home_panel_icon_link" %>
        <%= image_tag("/images/banners/inner_banners/what_banner.png") %>
      </div>
      <div id="panel4" class="panel">
        <h2 class="nucleus_header index_why_header">Why Choose Us.</h2>
        <%= link_to "Experience Nucleus", benefits_path, :class => "home_panel_icon_link" %>
        <%= image_tag("/images/banners/inner_banners/why_banner.png") %>
      </div>
    </div>
  </div>
  <%= render :partial => 'health_care/index_banner_nav', :locals => {:banner => @banner} %>
</div>