<div id="footer_links">
  <ul>
    <h4>Services</h4>
    <li><%= link_to "Free Trial", "" %></li>
    <li><%= link_to "Request CRA", "" %></li>
    <li><%= link_to "Downloads", "" %></li>
  </ul>
  <ul>
    <h4>About Us</h4>
    <li><%= link_to "Contact Us", "" %></li>
    <li><%= link_to "Meet HCI", "" %></li>
    <li><%= link_to "Privacy Policy", "" %></li>
  </ul>
  <ul>
    <h4>Learn More</h4>
    <li><%= link_to "Stop Health Care Fraud", "" %></li>
    <li><%= link_to "Profiler Magazine", "" %></li>
    <li><%= link_to "News", "" %></li>
    <li><%= link_to "Videos", "" %></li>
  </ul>
  <ul>
    <h4>Social Media</h4>
    <li><%= link_to "Twitter", "" %></li>
    <li><%= link_to "Facebook", "" %></li>
    <li><%= link_to "Youtube", "" %></li>
    <li><%= link_to "LinkedIn", "" %></li>
  </ul>
</div>
<div id="employee_login">
  <% unless current_employee %>
    <%= link_to "Employee Login", employee_login_path %>
  <% end %>
</div>