<div id="footer_links">
  <ul>
    <h4>Company</h4>
    <li><%= link_to "About Us", "" %></li>
    <li><%= link_to "Careers", "" %></li>
    <li><%= link_to "Partners", "" %></li>
    <li><%= link_to "Accredidations", "" %></li>
  </ul>
  <ul>
    <h4>Learn More</h4>
    <li><%= link_to "Services", "" %></li>
    <li><%= link_to "Resources", "" %></li>
    <li><%= link_to "View Demo", "" %></li>
    <li><%= link_to "Newsletter", "" %></li>
    <li><%= link_to "Free Trial", "" %></li>
  </ul>
  <ul>
    <h4>Legal</h4>
    <li><%= link_to "Privacy Policy", "" %></li>
    <li><%= link_to "Disclaimers", "" %></li>
    <li><%= link_to "Copyrights", "" %></li>
    <li><%= link_to "Other", "" %></li>
  </ul>
  <ul>
    <h4>Media</h4>
    <li><%= link_to "Social Media", "" %></li>
    <li><%= link_to "News", "" %></li>
    <li><%= link_to "Videos", "" %></li>
    <li><%= link_to "Press Kit", "" %></li>
  </ul>
</div>