<div class="relative left">
  <div class="grid_3 omega">
    <div class="index_box ">
      <h2 class="orange">Who We Are.</h2>
      <div class="inner_index_box">
        <p class="">
          We provide private and public sector claims payors with a comprehensive suite of clinically validated <%= link_to "fraud and abuse prevention services", services_path, :class => "z_50" %>. Let us help you maximize claims accuracy and minimize payment waste.
        </p>
        <div class="who_image box_1"></div>
      </div>
    </div>
  </div>
  <div class="grid_3 alpha omega">
    <div class="index_box">
      <h2 class="orange">What We Do.</h2>
      <div class="inner_index_box">
        <p class="">
          Each of HCI's customizable software as a service (SaaS) solutions rely on a <%= link_to "unique prepayment process", benefits_path, :class => "z_50" %> that combines proprietary software systems with detailed review by experienced clinicians.
        </p>
        
        <div class="who_image box_2"></div>
      </div>
    </div>
  </div>
  <div class="grid_3 alpha omega">
    <div class="index_box">
      <h2 class="orange">Why Choose Us.</h2>
      <div class="inner_index_box">
        <p class="">
          HCI's differentiated process enables payors to <%= link_to "target fraud with greater efficiency", media_path, :class => "z_50" %> by significantly increasing the quality of results returned while decreasing the total number of false positives.
        </p>
        <div class="who_image box_3"></div>
      </div>
    </div>
  </div>
  <div class="left">
    <ul class="index_sector_links">
      <li class="sector_link sector_link_header"><h2>Find Your Solution</h2></li>
      <li class="sector_link sector_link_public"><%= link_to "Public Sector", public_sector_path %></li>
      <li class="sector_link sector_link_private"><%= link_to "Private Sector", private_sector_path %></li>
      <li class="sector_link sector_link_workers_comp"><%= link_to "Workers Comp", workers_comp_path %></li>
    </ul>
  </div>
</div>