<div class="apple_sub_boxes">
  <div class="apple_sub_box">
    <%= link_to "<h4 class='apple_box_headers resources'>Stay in the HCI Loop. Brochures, videos, news, etc..</h4>", APP['free_trial_landing_page'] %>
    <%#= link_to "<div class='apple_icons rss'></div>", res_path %>
    <%= link_to(image_tag("apple_box_news.png", :alt => "Health Care Fraud Latest News"), APP['free_trial_landing_page']) %>
  </div>
  <div class="apple_sub_box">
    <%= link_to "<h4 class='apple_box_headers services'>A Solution for all payor types. Public, Private and P&C</h4>", services_path %>
    <%#= link_to "<div class='apple_icons partners'></div>", services_path %>
    <%= link_to(image_tag("apple_box_services.png", :alt => "Health Care Fraud Latest News"), services_path) %>
  </div>
  <div class="apple_sub_box ad_image_box">
    <ul class="">
      <% @advertisements.each do |adv| %>
      <li><%= link_to(image_tag(adv.ad_image(:reg), :alt => adv.title), "#{adv.link_url}") %></li>
      <% end %>
    </ul>
  </div>
</div>