<div class="relative left">
  <div class="grid_3 omega">
    <div class="index_box ">
      <h2 class="orange">Who We Are.</h2>
      <div class="inner_index_box">
        <p class="">
          We are regular people doing something extraordinary. Since 1997 we’ve been working to eliminate fraud and waste in America’s health care system. We are nurses, physicians, dentists and coders. We are HCI and we’re here to help you.
        </p>
        <%= link_to "Learn More >", about_path, :class => "z_50" %>
        <div class="who_image box_1"></div>
      </div>
    </div>
  </div>
  <div class="grid_3 alpha omega">
    <div class="index_box">
      <h2 class="orange">What We Do.</h2>
      <div class="inner_index_box">
        <p class="">
          We ensure health care claims are paid right, every time. We help private and public sector payors save money and reduce costs. We help you stop fraud before claims are paid. How? Using smart software and smarter clinicians.
        </p>
        <%= link_to "Learn More >", services_path, :class => "z_50" %>
        <div class="who_image box_2"></div>
      </div>
    </div>
  </div>
  <div class="grid_3 alpha omega">
    <div class="index_box">
      <h2 class="orange">Why Choose Us.</h2>
      <div class="inner_index_box">
        <p class="">
          We are different. We get “it” and we get you. We aren’t just another vendor with just another product. We are changing the health care industry by giving you access to better software, better analytics, better clinicians and better service.
        </p>
        <%= link_to "Learn More >", benefits_path, :class => "z_50" %>
        <div class="who_image box_3"></div>
      </div>
    </div>
  </div>
  <div class="left">
    <ul class="index_sector_links">
      <li class="sector_link sector_link_header"><h2>Find Your Solution</h2></li>
      <li class="sector_link sector_link_public"><%= link_to "Public Sector", "#" %></li>
      <li class="sector_link sector_link_private"><%= link_to "Private Sector", "#" %></li>
      <li class="sector_link sector_link_workers_comp"><%= link_to "Workers Comp", "#" %></li>
    </ul>
  </div>
</div>