<div id="slider" class="grid_12">
  <div class="scroll">
    <div class="scrollContainer">
      <div id="banner1" class="panel">
        <%= image_tag "banners/health_care_insight_banner2.png", :alt => "Stop Fraud Now" %>
      </div>
      <div id="banner2" class="panel">
        <%= image_tag "banners/health_care_insight_banner3.png", :alt => "Fraud News and Videos" %>
      </div>
      <div id="banner3" class="panel">
        <%= image_tag "banners/health_care_insight_banner2.png", :alt => "Fraud Fighting Tips" %>
      </div>
      <div id="banner4" class="panel">
        <%= image_tag "banners/health_care_insight_banner3.png", :alt => "Read All About Health Care Fraud" %>
      </div>
      <div id="banner5" class="panel">
        <%= image_tag "banners/health_care_insight_banner2.png", :alt => "Blow The Whistle in Health Care Fraud" %>
      </div>
    </div>
  </div>
  <div class="banner_nav">
    <div class="banner_nav_wrap">
    <ul class="nav_ul navigation">
      <li class="banner_li"><%= link_to "1", '#banner1', :class => 'selected' %></li>
      <li class="banner_li"><%= link_to "2", '#banner2'%></li>
      <li class="banner_li"><%= link_to "3", '#banner3'%></li>
      <li class="banner_li"><%= link_to "4", '#banner4'%></li>
      <li class="banner_li"><%= link_to "5", '#banner5'%></li>
    </ul>
    </div>
  </div>
</div>