<div class="about_profile_wrap">
  <%= image_tag('management_barry_johnson.png', :width => 100, :height => 100, :class => 'left')%>
  <div class="profile">
    <h4>Barry L. Johnson — President — HealthCare Insight</h4>
    <p>
      Barry L. Johnson is a founding partner of HealthCare Insight (HCI), a division of Verisk Health and part of the Verisk Analytics business segment devoted to decision analytics. He has served as president and chief executive officer of HCI since January 2001. HCI offers a comprehensive suite of cost-containment services focused on identifying and preventing healthcare fraud, abuse, and overpayment.
      </p>
      <p>
      Before joining HCI, Dr. Johnson was senior vice president of Medicode, a healthcare software and database company. He is a coding and reimbursement expert and has more than 22 years of experience in software and database development. He has authored two books and numerous articles on medical and dental coding and reimbursement issues and the prevention of healthcare fraud.
      </p>
      <p>
      Earlier in his career, Dr. Johnson practiced dentistry for 20 years and held a variety of leadership positions in organized dentistry at the local, state, and national levels. He served as chairman of the insurance committee of his state dental society. While practicing dentistry, Dr. Johnson served as a dental consultant and was also an assistant professor of operative dentistry at Loyola University School of Dentistry.
      </p>
      <p>
      Dr. Johnson earned his D.D.S. from Northwestern University School of Dentistry and a B.S. from the University of Utah. He is a Certified Dental Consultant and a Fellow of the Academy of General Dentistry. 
    </p>
  </div>
</div>
<div class="about_profile_wrap">
  <%= image_tag('management_barry_johnson.png', :width => 100, :height => 100, :class => 'left')%>
  <div class="profile">
    <h4>Larry Schor - Corporate Development Officer</h4>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    </p>
  </div>
</div>
<div class="about_profile_wrap">
  <%= image_tag('management_barry_johnson.png', :width => 100, :height => 100, :class => 'left')%>
  <div class="profile">
    <h4>Jason Pierson - Chief Operating Officer</h4>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    </p>
  </div>
</div>
<div class="about_profile_wrap">
  <%= image_tag('management_brian_smith.png', :width => 100, :height => 100, :class => 'left')%>
  <div class="profile">
    <h4>Brian Smith - Senior Vice President - Sales</h4>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    </p>
  </div>
</div>
<div class="about_profile_wrap">
  <%= image_tag('management_darin_johnson.png', :width => 100, :height => 100, :class => 'left')%>
  <div class="profile">
    <h4>Darin Johnson (MBA) - Vice President - Marketing</h4>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    </p>
  </div>
</div>