<div class="about_profile_wrap">
  <%= image_tag('management_barry_johnson.png', :width => 100, :height => 100, :class => 'left')%>
  <div class="profile">
    <h4>Barry L. Johnson - President</h4>
    <p>
      Barry L. Johnson is a founding partner of HealthCare Insight (HCI), a division of Verisk Health and part of the Verisk Analytics business segment devoted to decision analytics. He has served as president and chief executive officer of HCI since January 2001. HCI offers a comprehensive suite of cost-containment services focused on identifying and preventing healthcare fraud, abuse, and overpayment.
      </p>
  </div>
</div>
<div class="about_profile_wrap">
  <%= image_tag('management_barry_johnson.png', :width => 100, :height => 100, :class => 'left')%>
  <div class="profile">
    <h4>Larry Schor - Corporate Development Officer</h4>
    <p>
      Larry Schor has more than 25 years of experience in the health care industry with a primary interest in strategy, information technology and decision analytics, investment banking and business development. 
    </p>
    <p>
      Most recently, Mr. Schor was a Principal & Managing Director of the Ansley Capital Group, a middle-market health care investment bank and management consultancy specializing in information technology, care management, and business process outsourcing. 
    </p>
  </div>
</div>
<div class="about_profile_wrap">
  <%= image_tag('management_barry_johnson.png', :width => 100, :height => 100, :class => 'left')%>
  <div class="profile">
    <h4>Jason Pierson - Chief Operating Officer</h4>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    </p>
  </div>
</div>
<div class="about_profile_wrap">
  <%= image_tag('management_brian_smith.png', :width => 100, :height => 100, :class => 'left')%>
  <div class="profile">
    <h4>Brian Smith - Senior Vice President - Sales</h4>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    </p>
  </div>
</div>
<div class="about_profile_wrap">
  <%= image_tag('management_darin_johnson.png', :width => 100, :height => 100, :class => 'left')%>
  <div class="profile">
    <h4>Darin Johnson (MBA) - Vice President - Marketing</h4>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    </p>
  </div>
</div>