<div class="about_profile_wrap">
  <%= image_tag('management_barry_johnson.png', :width => 100, :height => 100, :class => 'left')%>
  <div class="profile">
    <h4>Barry L. Johnson, DDS - President</h4>
    <p>
      Dr. Johnson is a founding partner of HCI and has served as president of HealthCare Insight&reg; since January 2001. Under his leadership, the company has experienced extraordinary growth and success. He is a reimbursement and coding expert, with over 20 years of experience in health care informatics. Dr. Johnson is a Certified Dental Consultant and a Fellow of the Academy of General Dentistry. Johnson earned his DDS from Northwestern University.
      </p>
  </div>
</div>
<div class="about_profile_wrap">
  <%= image_tag('management_christie_moon.png', :width => 100, :height => 100, :class => 'left')%>
  <div class="profile">
    <h4>Christie Moon - Chief Compliance Officer</h4>
    <p>
      Christie Moon is a seasoned fraud-fighting veteran who helps clients of HealthCare Insight detect and prevent fraud, waste, and overpayment. An attorney and 15-year leader in anti-fraud work with Kaiser Permanente. She was subsequently recognized at the Kaiser Foundation Health Plan Board of Directors by Kaiser’s Chief Compliance Officer for building a fraud control team thought to be the finest in the nation. A former prosecutor, Moon received a law degree from Pepperdine University where she was an editor of the Pepperdine Law Review.
    </p>
  </div>
</div>
<div class="about_profile_wrap">
  <%= image_tag('management_larry_schor.png', :width => 100, :height => 100, :class => 'left')%>
  <div class="profile">
    <h4>Larry Schor - Corporate Development Officer</h4>
    <p>
    Mr. Schor has more than 25 years of experience in the health care industry with a primary interest in strategy, information technology and decision analytics, investment banking and business development. His record of innovation and success is well known and admired throughout the health industry. Schor holds a BS in Comparative Anatomy and a BA in American Literature from Allegheny College and a MPH, Biostatistics and Epidemiology from Boston University.</p>
  </div>
</div>
<div class="about_profile_wrap">
  <%= image_tag('management_brian_smith.png', :width => 100, :height => 100, :class => 'left')%>
  <div class="profile">
    <h4>Brian C. Smith - Executive Vice President, Sales</h4>
    <p>
      Mr. Smith joined HCI in March of 2008 and currently serves as Executive Vice President of Sales. He has over 27 years of experience in the health care industry and has served in various senior executive positions in Fortune 500 companies as well as venture-backed startups throughout his career. Smith completed his graduate coursework in business administration and public health at UC Irvine and UCLA earning dual BS degrees in both Biology and Psychology.
    </p>
  </div>
</div>
<div class="about_profile_wrap">
  <%= image_tag('management_darin_johnson.png', :width => 100, :height => 100, :class => 'left')%>
  <div class="profile">
    <h4>Darin Johnson, MBA - Vice President, Marketing</h4>
    <p>
      Mr. Johnson joined HCI in 2002 and is known as an industry innovator in B2B and health informatics marketing. During Johnson’s tenure, he has successfully positioned HCI as a market leader and heavily influenced eight consecutive years of double and triple-digit revenue growth. He has distinguished himself with over a decade of inventive work in health marketing. Johnson earned his MBA at the University of Utah, with a focus on marketing and entrepreneurialism. 
    </p>
  </div>
</div>