<div class="index_service_wrap market_box public">
  <h2 class="service_header public_service_header ">Public Sector</h2>
  <p class="">
  View our solutions for State 
  Medicaid Plans, Medicaid 
  MCOs, Medicare Advantage 
  and Special Needs Plans.</p>
  <%= link_to "Public Payors", public_sector_path, :class => "market_link public_index_wrap service_avatar" %>
  <%= link_to "Learn More >", public_sector_path, :class => "right" %>
</div>
<div class="index_service_wrap market_box private">
  <h2 class="service_header private_service_header">Private Sector</h2>
  <p class="">
    View solutions for Managed  
    Care Organizations, Health 
    Plans, Taft Hartley Funds and 
    Third Party Administrators.
  </p>
  <%= link_to "Public Payors", private_sector_path, :class => "market_link private_index_wrap service_avatar" %>
  <%= link_to "Learn More >", private_sector_path, :class => "right" %>
</div>
<div class="index_service_wrap market_box property">
  <h2 class="service_header property_service_header">Property & Casualty</h2>
  <p class="">
    View our solutions for Auto 
    Insurers, Liability Carriers, 
    Workers Compensation Payors, 
    and Supplemental Insurers.
  </p>
  <%= link_to "Public Payors", workers_comp_path, :class => "market_link property_index_wrap service_avatar" %>
  <%= link_to "Learn More >", workers_comp_path, :class => "right" %>
</div>