<div class="index_service_wrap market_box">
  <h2 class="service_header">Public Sector</h2>
  <p class="">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin nisl justo, volutpat non sodales in, malesuada sit amet tellus.</p>
  <%= link_to "Public Payors", public_sector_path, :class => "payor_avatar" %>
  <%= link_to "Learn More >", public_sector_path, :class => "right" %>
</div>
<div class="index_service_wrap market_box">
  <h2 class="service_header">Private Sector</h2>
  <p class="">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin nisl justo, volutpat non sodales in, malesuada sit amet tellus.</p>
  <%= link_to "Public Payors", private_sector_path, :class => "payor_avatar" %>
  <%= link_to "Learn More >", private_sector_path, :class => "right" %>
</div>
<div class="index_service_wrap market_box">
  <h2 class="service_header">Property & Casualty</h2>
  <p class="">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin nisl justo, volutpat non sodales in, malesuada sit amet tellus.</p>
  <%= link_to "Public Payors", workers_comp_path, :class => "payor_avatar" %>
  <%= link_to "Learn More >", workers_comp_path, :class => "right" %>
</div>