<%= javascript_include_tag 'video_scripts', 'scroll' %>
<div id="slider" class="nucleus_banner">
  <div class="scroll">
    <div class="scrollContainer">
      <div id="panel1" class="panel">
        <h2 class="nucleus_header">Meet the Industry's Most Advanced Payment Integrity Platform</h2>
        <%= image_tag("/images/banners/inner_banners/nucleus_banner1.jpg") %>
      </div>
      <div id="panel2" class="panel">
        <h2 class="nucleus_header">Consider the Bar Raised</h2>
        <%= image_tag("/images/banners/inner_banners/nucleus_banner2.jpg") %>
        <div class="nucleus_bullet_points bp2">
          <ul>
            <li><h3>Real-Time<br/> Processing</h3></li>
            <li><h3>Next-Gen<br/> Fraud Models</h3></li>
            <li><h3>SaaS<br/>Applications</h3></li>
          </ul>
        </div>
      </div>
      <div id="panel3" class="panel">
        <h2 class="nucleus_header">Consider the Trail Blazed</h2>
        <%= image_tag("/images/banners/inner_banners/nucleus_banner3.jpg") %>
        <div class="nucleus_bullet_points bp3">
          <ul>
            <li><h3>Single-Click<br/> Navigation</h3></li>
            <li><h3>Customizable<br/> Dashboard</h3></li>
            <li><h3>All-New<br/>User Interface</h3></li>
          </ul>
        </div>
      </div>
      <div id="panel4" class="panel">
        <h2 class="nucleus_header">Consider the Game Changed</h2>
        <%= image_tag("/images/banners/inner_banners/nucleus_banner4.jpg") %>
        <div class="nucleus_bullet_points bp4">
          <ul>
            <li><h3>Better<br/> Workflow</h3></li>
            <li><h3>Better<br/> Technology</h3></li>
            <li><h3>Better<br/> Results</h3></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <%= link_to "Play Again", "#", :class => "play_again_link" %>
  <div id="nucleus_banner_nav" class="banner_nav">
    <div class="nucleus_banner_nav">
    <ul id="nucleus_banner_nav_ul" class="nav_ul navigation">
      <li class="b_nav1 index_banner_li first"><%= link_to "1", '#panel1', :class => 'selected' %></li>
      <li class="b_nav2 index_banner_li">
        <div class="nav_header">The Technology</div>
        <%= link_to "2", '#panel2'%>
      </li>
      <li class="b_nav3 index_banner_li">
        <div class="nav_header">The Experience</div>
        <%= link_to "3", '#panel3'%>
      </li>
      <li class="b_nav4 index_banner_li">
        <div class="nav_header">The Difference</div>
        <%= link_to "4", '#panel4'%>
      </li>
    </ul>
    </div>
  </div>
  <div id="nucleus_main_video" class="nucleus_player">

  </div>
</div>