<div id="slider" class="nucleus_banner">
  <div class="scroll">
    <div class="scrollContainer">
      <div id="panel1" class="panel">
        <!-- <h2 class="nucleus_header meet_nucleus">Meet Nucleus</h2> -->
        <div id="nucleus_main_video" class="nucleus_player">
         <%= image_tag("/images/banners/inner_banners/meet_nucleus_splash_image.jpg") %>
        </div>
      </div>
      <div id="panel2" class="panel">
        <h2 class="nucleus_header real_time_processing">Real Time Processing</h2>
      </div>
      <div id="panel3" class="panel">
        <h2 class="nucleus_header meet_nucleus">Next-Gen Fraud Models</h2>
      </div>
      <div id="panel4" class="panel">
        <h2 class="nucleus_header meet_nucleus">Ultimate User Experience</h2>
      </div>
      <div id="panel5" class="panel">
        <h2 class="nucleus_header meet_nucleus">Go Atomic - Get Nucleus</h2>
      </div>
    </div>
  </div>
  <div class="banner_nav">
    <div class="banner_nav_wrap">
    <ul class="nav_ul navigation">
      <li class="banner_li"><%= link_to "1", '#panel1', :class => 'selected' %></li>
      <li class="banner_li"><%= link_to "2", '#panel2'%></li>
      <li class="banner_li"><%= link_to "3", '#panel3'%></li>
      <li class="banner_li"><%= link_to "4", '#panel4'%></li>
      <li class="banner_li"><%= link_to "5", '#panel5'%></li>
    </ul>
    </div>
  </div>
</div>