<div id="panel1" class="panel">
  <h2 class="hide_text">Nucleus - [Be] in your element</h2>
  <p class="hide_text">An atomic change. A universe of difference. Meet the world's most advanced payment integrity application ever built. Meet Nucleus.</p>
  <!-- <%#= image_tag("/images/banners/nucleus_index_banners/vhc2011_registration_index_banner.png", :alt => "Verisk Health Conference Registration", :class => "home_banner")%> -->
  <%= image_tag("/images/banners/nucleus_index_banners/verisk_upgrade_index_banner.png", :alt => "Nucleus - [Be] in your element", :class => "home_banner")%>
  <!-- <%#= link_to "VHC2011 Registration", "http://www.veriskhealth.com/verisk-health-conference-2011", :class => "verisk_upgrade" %> -->
  <div class="banner_cta_wrap">
    <%= link_to(image_tag('banners/nucleus_index_banners/services_button.png'), services_path, :class => "main_link banner_register_button") %>
  </div>
</div>


<!-- This the OCI for Nov 4th -->
<div id="panel2" class="panel">
  <h2 class="hide_text">Nucleus - [Reinvent] in your element</h2>
  <p class="hide_text">An atomic change. A universe of difference. Meet the world's most advanced payment integrity application ever built. Meet Nucleus.</p>
	<%= image_tag("/images/banners/nucleus_index_banners/banner2-light.png", :alt => "Core Elements - [Pay] in your element", :class => "home_banner")%>  
	<div class="banner_cta_wrap">
	<%= link_to(image_tag('banners/nucleus_index_banners/about_button.png'), about_path, :class => "main_link banner_register_button") %>
  </div>
</div>


<div id="panel3" class="panel">
  <h2 class="hide_text">Nucleus - [Evolve] in your element</h2>
  <p class="hide_text">An atomic change. A universe of difference. Meet the world's most advanced payment integrity application ever built. Meet Nucleus.</p>
  <%= image_tag("/images/banners/nucleus_index_banners/banner3-light.png", :alt => "Nucleus - [Be] in your element", :class => "home_banner")%>  
  <div class="banner_cta_wrap">
    <%= link_to(image_tag('banners/nucleus_index_banners/microsite_button.png'), "http://www.get-nucleus.com", :target => "_blank", :class => "main_link banner_register_button") %>
  </div>
</div>


<div id="panel4" class="panel">
  <h2 class="hide_text">Nucleus - [Change] in your element</h2>
  <p class="hide_text">An atomic change. A universe of difference. Meet the world's most advanced payment integrity application ever built. Meet Nucleus.</p>
  <%= image_tag("/images/banners/nucleus_index_banners/banner4-light.png", :alt => "Nucleus - [Be] in your element", :class => "home_banner")%>  
  <div class="banner_cta_wrap">
    <%= link_to(image_tag('banners/nucleus_index_banners/register_button.png'), res_path, :class => "main_link banner_register_button") %>
  </div>
</div>


<div id="panel5" class="panel">
  <h2 class="hide_text">Nucleus - [Save] in your element</h2>
  <p class="hide_text">An atomic change. A universe of difference. Meet the world's most advanced payment integrity application ever built. Meet Nucleus.</p>
  <%= image_tag("/images/banners/nucleus_index_banners/banner5-light.png", :alt => "Nucleus - [Be] in your element", :class => "home_banner")%>  
  <div class="banner_cta_wrap">
    <%= link_to(image_tag('banners/nucleus_index_banners/resource_button.png'), res_path, :class => "main_link banner_register_button") %>
  </div>
</div>