<%= javascript_include_tag 'video_scripts', 'scroll' %>
<div id="slider" class="nucleus_banner">
  <div class="scroll">
    <div class="scrollContainer">
      <div id="panel1" class="panel">
        <h2 class="nucleus_header">Meet the Industry's Most Advanced Payment Integrity Platform</h2>
        <%= image_tag("/images/banners/inner_banners/nucleus_banner1.jpg") %>
      </div>
      <div id="panel2" class="panel">
        <h2 class="nucleus_header">Consider the Bar Raised</h2>
        <%= image_tag("/images/banners/inner_banners/nucleus_banner2.jpg") %>
        <div class="nucleus_bullet_points bp2">
          <ul>
            <li class="popup_trigger">
              <h3>Real-Time<br/> Processing</h3>
              <div class="popup"> <!-- The pop cont gets the fade, but the inner container contains the transparent png to avoid the Sharpie Border in IE (IE is Stupid)-->
                <div id="real_time_popup" class="inner_popup_container">
                  Real Time Processing
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                </div>
              </div>
            </li>
            <li class="popup_trigger">
              <h3>Next-Gen<br/> Fraud Models</h3>
              <div class="popup">
                <div id="next_gen_popup" class="inner_popup_container">
                  Next-Gen Fraud Models
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                </div>
              </div>
            </li>
            <li class="popup_trigger">
              <h3>SaaS<br/>Applications</h3>
              <div class="popup">
                <div id="saas_app_popup" class="inner_popup_container">
                  Saas Applications
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
      <div id="panel3" class="panel">
        <h2 class="nucleus_header">Consider the Trail Blazed</h2>
        <%= image_tag("/images/banners/inner_banners/nucleus_banner3.jpg") %>
        <div class="nucleus_bullet_points bp3">
          <ul>
            <li class="popup_trigger">
              <h3>Single-Click<br/> Navigation</h3>
              <div class="popup"> 
                <div id="single_click_popup" class="inner_popup_container">
                  Single-Click Navigation
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                </div>
              </div>
            </li>
            <li class="popup_trigger">
              <h3>Customizable<br/> Dashboard</h3>
              <div class="popup">
                <div id="custom_dash_popup" class="inner_popup_container">
                  Customizable Dashboard
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                </div>
              </div>
            </li>
            <li class="popup_trigger">
              <h3>All-New<br/>User Interface</h3>
              <div class="popup">
                <div id="user_interface_popup" class="inner_popup_container">
                  All-New User Interface
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
      <div id="panel4" class="panel">
        <h2 class="nucleus_header">Consider the Game Changed</h2>
        <%= image_tag("/images/banners/inner_banners/nucleus_banner4.jpg") %>
        <div class="nucleus_bullet_points bp4">
          <ul>
            <li class="popup_trigger">
              <h3>Better<br/> Workflow</h3>
              <div class="popup">
                <div id="workflow_popup" class="inner_popup_container">
                  Better Workflow
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                </div>
              </div>
            </li>
            <li class="popup_trigger">
              <h3>Better<br/> Technology</h3>
              <div class="popup">
                <div id="technology_popup" class="inner_popup_container">
                  Better Technology
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                </div>
              </div>
            </li>
            <li class="popup_trigger">
              <h3>Better<br/> Results</h3>
              <div class="popup">
                <div id="results_popup" class="inner_popup_container">
                  Better Results
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <%= link_to "Play Again", "#", :class => "play_again_link" %>
  <div id="nucleus_banner_nav" class="banner_nav">
    <div class="nucleus_banner_nav">
    <ul id="nucleus_banner_nav_ul" class="nav_ul navigation">
      <li class="b_nav1 index_banner_li first no_display"><%= link_to "1", '#panel1', :class => 'selected' %></li>
      <li class="b_nav2 index_banner_li">
        <div class="nav_header">The Technology</div>
        <%= link_to "2", '#panel2'%>
      </li>
      <li class="b_nav3 index_banner_li">
        <div class="nav_header">The Experience</div>
        <%= link_to "3", '#panel3'%>
      </li>
      <li class="b_nav4 index_banner_li">
        <div class="nav_header">The Difference</div>
        <%= link_to "4", '#panel4'%>
      </li>
    </ul>
    </div>
  </div>
  <div id="nucleus_main_video" class="nucleus_player">

  </div>
</div>