<%= javascript_include_tag 'video_scripts', 'scroll' %>
<div id="slider" class="nucleus_banner">
  <div class="scroll">
    <div class="scrollContainer">
      <div id="panel1" class="panel">
        <%= image_tag("/images/banners/inner_banners/meet_nucleus_splash_image.jpg") %>
        <%= link_to "Play Again", "#", :class => "play_again_link" %>
        <div id="nucleus_main_video" class="nucleus_player">
         
        </div>
      </div>
      <div id="panel2" class="panel">
        <h2 class="nucleus_header">Real Time Processing</h2>
        <%= image_tag("/images/banners/inner_banners/nucleus_banner2.jpg") %>
      </div>
      <div id="panel3" class="panel">
        <h2 class="nucleus_header">Next-Gen Fraud Models</h2>
        <%= image_tag("/images/banners/inner_banners/nucleus_banner3.jpg") %>
      </div>
      <div id="panel4" class="panel">
        <h2 class="nucleus_header">Ultimate User Experience</h2>
        <%= image_tag("/images/banners/inner_banners/nucleus_banner4.jpg") %>
      </div>
    </div>
  </div>
  <div class="banner_nav">
    <div class="banner_nav_wrap">
    <ul class="nav_ul navigation">
      <li class="banner_li"><%= link_to "1", '#panel1', :class => 'li_1 selected' %></li>
      <li class="banner_li"><%= link_to "2", '#panel2', :class => 'li_2'%></li>
      <li class="banner_li"><%= link_to "3", '#panel3', :class => 'li_3'%></li>
      <li class="banner_li"><%= link_to "4", '#panel4', :class => 'li_4'%></li>
    </ul>
    </div>
  </div>
</div>