<div class="partner_grid">
  <%= link_to(image_tag("leavitt.png"),"http://www.leavittpartners.com", :target => "_blank")%>
  <h4>Leavitt Partners</h4>
  <p>HCI public sector partner.</p>
  <%= link_to "www.leavittpartners.com", "http://www.leavittpartners.com", :target => "_blank" %>
</div>
<div class="partner_grid">
  <%= link_to(image_tag("biologics.png"), "http://www.biologicstoday.com", :target => "_blank") %>
  <h4>Biologics</h4>
  <p>Powers OncologyClaim Insight<sup>&reg;</sup>.</p>
  <%= link_to "www.biologicstoday.com", "http://www.biologicstoday.com", :target => "_blank" %>
</div>
<div class="partner_grid">
  <%= link_to(image_tag("assist.jpg"), "http://www.assistgroup.com", :target => "_blank")%>
  <h4>The Assist Group</h4>
  <p>Powers FacilityClaim Insight<sup>&reg;</sup>.</p>
  <%= link_to "www.assistgroup.com", "http://www.assistgroup.com", :target => "_blank" %>
</div>
<div class="partner_grid">
  <%= link_to(image_tag("qmed.jpg"), "http://www.qmedtrix.com", :target => "_blank") %>
  <h4>Qmedtrix</h4>
  <p>HCI targeted claims partner.</p>
  <%= link_to "www.qmedtrix.com", "http://www.qmedtrix.com", :target => "_blank" %>
</div>
<div class="partner_grid">
  <%= link_to(image_tag("nea.jpg"), "http://www.nea-fast.com", :target => "_blank") %>
  <h4>NEA</h4>
  <p>HCI electronic imaging partner.</p>
  <%= link_to "www.nea-fast.com", "http://www.nea-fast.com", :target => "_blank" %>
</div>
<div class="partner_grid">
  <%= link_to(image_tag("ezcap.jpg"), "http://www.mzihc.com/", :target => "_blank") %>
  <h4>MZI EZCAP</h4>
  <p>Automated integration partner.</p>
  <%= link_to "www.mzihc.com", "http://www.mzihc.com/", :target => "_blank" %>
</div>
<div class="partner_grid">
  <%= link_to(image_tag("sbpa.jpg"), "http://www.sungard.com/iworksgbas", :target => "_blank") %>
  <h4>SunGard/GBAS</h4>
  <p>Automated integration partner.</p>
  <%= link_to "www.sungard.com", "http://www.sungard.com/iworksgbas", :target => "_blank" %>
</div>
<div class="partner_grid">
  <%= link_to(image_tag("eldorado.jpg"), "http://www.eldocomp.com", :target => "_blank") %>
  <h4>Eldorado Computing</h4>
  <p>Automated integration partner.</p>
  <%= link_to "www.eldocomp.com", "http://www.eldocomp.com", :target => "_blank" %>
</div>