<div class="partner_grid">
  <%= image_tag("leavitt.png")%>
  <h4 class="orange">Leavitt Partners</h4>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit.
  </p>
</div>
<div class="partner_grid">
  <%= image_tag("biologics.png")%>
  <h4 class="orange">Biologics</h4>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit.
  </p>
</div>
<div class="partner_grid">
  <%= image_tag("assist.jpg")%>
  <h4 class="orange">The Assist Group</h4>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit.
  </p>
</div>
<div class="partner_grid">
  <%= image_tag("qmed.jpg")%>
  <h4 class="orange">Qmedtrix</h4>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit.
  </p>
</div>
<div class="partner_grid">
  <%= image_tag("nea.jpg")%>
  <h4 class="orange">NEA</h4>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit.
  </p>
</div>
<div class="partner_grid">
  <%= image_tag("ezcap.jpg")%>
  <h4 class="orange">MZI EZCAP</h4>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit.
  </p>
</div>
<div class="partner_grid">
  <%= image_tag("sbpa.jpg")%>
  <h4 class="orange">SBPA</h4>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit.
  </p>
</div>
<div class="partner_grid">
  <%= image_tag("eldorado.jpg")%>
  <h4 class="orange">Eldorado / ECI</h4>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit.
  </p>
</div>