<div class="grid_12 alpha omega benefit_grid">
  <div class="inner_benefit_grid">
    <div class="partner_grid_box left_side_box bene_odd_row">
      <%= link_to(image_tag("partner_logos/verisk1.jpg"), "http://www.verisk.com") %>
      <div class="partner_content_wrap">      
        <h3>Verisk Analytics</h3>
        <p>
          Verisk Analytics offers risk-assessment
          services and decision analytics. Verisk
          Analytics is HCI’s corporate parent.<br/>
        <%= link_to "www.verisk.com", "http://www.verisk.com" %></p>
      </div>
    </div>
    <div class="partner_grid_box right_side_box bene_odd_row">
      <%= link_to(image_tag("partner_logos/iso1.jpg"), "http://www.iso.com") %>
      <div class="partner_content_wrap">      
        <h3>ISO</h3>
        <p>ISO is a leading source of information about property/casualty insurance risk since 1971.<br/> <%= link_to "www.iso.com", "http://www.iso.com" %></p>
      </div>
    </div>
    <div class="partner_grid_box left_side_box bene_even_row">
      <%= link_to(image_tag("partner_logos/isoia.jpg", :class => "even_row"), "http://www.iso.com") %>
      <div class="partner_content_wrap">      
        <h3>ISO Innovative Analytics</h3>
        <p>IIA develops practical tools for predictive modeling and scoring. IIA powers HCI’s fraud and abuse models. 
         <%= link_to "www.iso.com", "http://www.iso.com" %></p>
      </div>
    </div>
    <div class="partner_grid_box right_side_box bene_even_row">
      <%= link_to(image_tag("partner_logos/veriskhealth.jpg", :class => "even_row"), "http://www.veriskhealth.com") %>
      <div class="partner_content_wrap">      
        <h3>Verisk Health</h3>
        <p>Health care data analytics firm delivering systems to identify, manage, and minimize medical and financial risk. <%= link_to "www.veriskhealth.com", "http://www.veriskhealth.com" %></p>
      </div>
    </div>
    <div class="partner_grid_box left_side_box bene_odd_row">
      <%= link_to(image_tag("partner_logos/xact.jpg"), "http://www.xactware.com") %>
      <div class="partner_content_wrap">      
        <h3>Xactware</h3>
        <p>Xactware Solutions provides software for 
        professionals involved in estimating all 
        phases of building and repair.
         <%= link_to "www.xactware.com", "http://www.xactware.com" %></p>
      </div>
    </div>
    <div class="partner_grid_box right_side_box bene_odd_row">
      <%= link_to(image_tag("partner_logos/interthinx.jpg"), "http://www.interthinx.com") %>
      <div class="partner_content_wrap">      
        <h3>Interthinx</h3>
        <p>Interthinx is a provider of
        risk mitigation and regulatory compliance 
        tools for the financial services industry.
         <%= link_to "www.interthinx.com", "http://www.interthinx.com" %> </p>
      </div>
    </div>
    <div class="clear"></div>
  </div>
</div>