<div class="big_banner press_kit_banner">
  <h2 class="text_indent">HCI Social Media Links</h2>
  <div class="press_kit_text_wrap">
    <h3>HealthCare Insight essentials</h3>
    <p>
      Download HCI logos, management bios, company profile, corporate timelines, affiliate information, press releases, archived news, and much more.
    <ul>
      <li><%= link_to "Logo Pack", "http://www.facebook.com/pages/Stop-Health-Care-Fraud/105583130933" %></li>
      <li><%= link_to "Timeline", "http://www.linkedin.com/groups?gid=1426647" %></li>
      <li><%= link_to "Press Releases", "http://www.youtube.com/user/HCInsight" %></li>
      <li><%= link_to "Management", "http://www.profilermag.com" %></li>
      <li><%= link_to "Testimonials", "http://twitter.com/StopHealthFraud" %></li>
      <li><%= link_to "News Clippings", "http://www.stophealthcarefraud.com" %></li>
      <li><%= link_to "HCI Profile", "http://www.stophealthcarefraud.com" %></li>
      <li><%= link_to "HCI Timeline", "http://www.stophealthcarefraud.com" %></li>
      <li><%= link_to "All of the Above", "http://www.stophealthcarefraud.com" %></li>
    </ul>
    </p>
  </div>
   <%#= render :partial => "layouts/cta_bar" %>
</div>