<div class="big_banner press_kit_banner">
  <h2 class="text_indent">HCI Social Media Links</h2>
  <div class="press_kit_text_wrap">
    <h3>HealthCare Insight essentials</h3>
    <p>
      Download HCI logos, management bios, company profile, corporate timelines, affiliate information, press releases, archived news, and much more.
    <ul>
      <li><%= link_to "Logo Pack", "#" %></li>
      <li><%= link_to "Timeline", "#" %></li>
      <li><%= link_to "Press Releases", articles_path %></li>
      <li><%= link_to "Management", about_path %></li>
      <li><%= link_to "Testimonials", res_path %></li>
      <li><%= link_to "News Clippings", articles_path %></li>
      <li><%= link_to "HCI Profile", about_path %></li>
      <li><%= link_to "HCI Timeline", about_path %></li>
      <li><%= link_to "All of the Above", "#" %></li>
    </ul>
    </p>
  </div>
   <%#= render :partial => "layouts/cta_bar" %>
</div>