<div class="big_banner press_kit_banner">
  <h2 class="text_indent">HCI Social Media Links</h2>
  <div class="press_kit_text_wrap">
    <h3>HealthCare Insight essentials</h3>
    <p>
      Download HCI logos, management bios, company profile, corporate timelines, affiliate information, press releases, archived news, and much more.
    <ul>
      <li><%= link_to "Logo Pack", "/downloads/logo_pack.zip", :alt => "HealthCare Insight Logo Pack" %></li>
      <li><%= link_to "Timeline", "/downloads/hci_timeline.pdf", :alt => "HealthCare Insight Timeline" %></li>
      <li><%= link_to "Press Releases", "/downloads/hci_press_releases.pdf", :alt => "HealthCare Insight Articles" %></li>
      <li><%= link_to "Management", "/downloads/hci_management.pdf", :alt => "HealthCare Insight Management" %></li>
      <li><%= link_to "Testimonials", res_path, :alt => "HealthCare Insight Testimonials" %></li>
      <li><%= link_to "News Clippings", articles_path, :alt => "HealthCare Insight News Clips" %></li>
      <li><%= link_to "HCI Profile", "/downloads/hci_profile.pdf", :alt => "HealthCare Insight Profile" %></li>
      <li><%= link_to "HCI Timeline", "/downloads/hci_timeline.pdf", :alt => "HealthCare Insight History" %></li>
      <li><%= link_to "All of the Above", "#", :alt => "HealthCare Insight Press Kit" %></li>
    </ul>
    </p>
  </div>
   <%#= render :partial => "layouts/cta_bar" %>
</div>