<div class="service_wrap social_media_big_links_wrap">
  <div class="social_media_big_links">
    <h5>Facebook</h5>
      <div class="big_social_icon facebook">
        <%= link_to "Facebook", "http://www.facebook.com/pages/Stop-Health-Care-Fraud/105583130933" %>
      </div>
  </div>
  <div class="social_media_big_links">
    <h5>YouTube</h5>
      <div class="big_social_icon youtube">
        <%= link_to "YouTube", "http://www.youtube.com/user/HCInsight" %>
      </div>
  </div>
  <div class="social_media_big_links">
    <h5>Twitter</h5>
      <div class="big_social_icon twitter">
        <%= link_to "Twitter", "http://twitter.com/StopHealthFraud" %>
      </div>
  </div>
  <div class="social_media_big_links">
    <h5>LinkedIn</h5>
      <div class="big_social_icon linkedin">
        <%= link_to "LinkedIn", "http://www.linkedin.com/groups?gid=1426647" %>
      </div>
  </div>
  <div class="social_media_big_links">
    <h5>Profiler Magazine</h5>
      <div class="big_social_icon profiler">
        <%= link_to "Profiler Magazine", "http://www.profilermag.com" %>
      </div>
  </div>
  <div class="social_media_big_links">
    <h5>RSS Feed</h5>
      <div class="big_social_icon shcf">
        <%= link_to "HCI RSS", articles_path(:format => :rss) %>
      </div>
  </div>
</div>