<div class="big_banner social_banner">
  <h2 class="text_indent">HCI Social Media Links</h2>
  <div class="social_text_wrap">
    <h3>Join HealthCare Insight<sup>&reg;</sup> online</h3>
    <p>
      Check out these useful resources and visit us on Facebook and Linked In.
    <ul>
      <li><%= link_to "Facebook", "http://www.facebook.com/pages/Stop-Health-Care-Fraud/105583130933" %></li>
      <li><%= link_to "Linkedin", "http://www.linkedin.com/groups?gid=1426647" %></li>
      <li><%= link_to "YouTube", "http://www.youtube.com/user/HCInsight" %></li>
      <li><%= link_to "Profiler", "http://www.profilermag.com" %></li>
      <li><%= link_to "Twitter", "http://twitter.com/StopHealthFraud" %></li>
      <li><%= link_to "HCI RSS", articles_path(:format => :rss) %></li>
    </ul>
    </p>
  </div>
   <%#= render :partial => "layouts/cta_bar" %>
</div>