<% meta_keywords("healthcare insight")%>
<% meta_description("HealthCare Insight provides many resources to help you combat health care fraud.") %>
<% page_title("About Us ") %>

<% content_for :banner do %>
  <%= render :partial => "health_care/about_banner" %>
<% end %>

<!-- Top Area -->
<!-- <div class="grid_12 alpha omega">
  <h2 class="page_header about_header full_wrap">Say Hello To HealthCare Insight</h2>
  <div class="half grid_6 omega">  
    <h3 class="orange">Who We Are</h3>
    <p class="">We provide private and public sector health care claims payors with a comprehensive suite of clinically validated fraud and abuse prevention services. Let us help you to maximize claims administration accuracy and minimize payment waste.
    </p>
  </div>
  <div class="half grid_6 omega">  
    <h3 class="orange">About ISO</h3>
    <p>
      ISO is the parent company of HCI. ISO supplies data, analytics, and decision-support services for professionals in many fields, including: property/casualty insurance, mortgage lending, healthcare, government, human resources. 
    </p>
  </div>
  <div class="divider"></div>
</div> -->
<div class="grid_12 alpha omega">
  <%= render :partial => "health_care/about_boxes" %>
  <%= render :partial => "health_care/about_quote" %>
  <!-- Left Side -->
  <div class="half grid_6 omega">
    <h3 class="orange">Our Leadership</h3>
    <p>
      We’ve got the brightest minds in the business steering the ship. We know 
      you’ll enjoy working with our passionate and magnetic CEO, Barry Johnson. 
      We know you’ll be impressed with our highly knowledgeable sales team, led 
      by Brian Smith. We know you’ll be glad that our brilliant Larry Schor, corporate 
      development officer, is on your team. These are just a few of the incredibly 
      talented members of our leadership team. Meet the rest of the team below.
    </p>
    <%= render :partial => 'management_profile' %>
    <div class="divider"></div>
    <%= render :partial => 'accreditations_links_large' %>
  </div>
  
  <!-- Right Side -->
  <div class="half grid_6 omega">
    <h3 class="orange">Our History</h3>
    <p>
      HCI was conceived and launched by great minds with a desire fill a void
      In the health care industry. In 1997 we opened our doors for business with 
      a focus on reducing fraud, waste and abuse by using technology and clinical
      validation. Since that time we have joined the Verisk Analytics (VRSK on 
      Nasdaq) family and evolved into a market leader with suite of payment 
      integrity solutions powered by clinicians. Relive some key moments below.
    </p>
    <div id="milestones" class="grid_5 alpha">
      
      
      <div class="left">
        <%= image_tag('timeline/timeline_1.jpg', :width => 100, :height => 100) %>
        <div class="milestone_inner_wrap">        
          <div class="year">1997</div>
          <div class="event">
            <h4>We Are Founded.</h4>
            HCI founded by group of skilled 
            health care informatics experts.
          </div>
        </div>
      </div>
      <div class="right">
        <%= image_tag('timeline/timeline_2.jpg', :width => 100, :height => 100) %>
        <div class="milestone_inner_wrap">        
          <div class="year">2000</div>
          <div class="event">
            <h4>We Go Prepayment.</h4>
            We develop our first prepayment
            fraud and waste prevention service.
          </div>
        </div>
      </div>
      
      <div class="left">
        <%= image_tag('timeline/timeline_3.jpg', :width => 100, :height => 100) %>
        <div class="milestone_inner_wrap">        
          <div class="year">2001</div>
          <div class="event">
            <h4>We Get a New CEO.</h4>
            Dr. Barry Johnson takes over as 
            CEO and the company takes flight.
          </div>
        </div>
      </div>
      <div class="right">
        <%= image_tag('timeline/timeline_4.jpg', :width => 100, :height => 100) %>
        <div class="milestone_inner_wrap">        
          <div class="year">2002</div>
          <div class="event">
            <h4>We Get the Olympics.</h4>
            Utah hosts 2002 Winter Games 
            and we experience record growth.
          </div>
        </div>
      </div>
      
      <div class="left">
        <%= image_tag('timeline/timeline_5.jpg', :width => 100, :height => 100) %>
        <div class="milestone_inner_wrap">        
          <div class="year">2004</div>
          <div class="event">
            <h4>We Expand Service Line.</h4>
            We expand services by focusing on 
            other cost centers. First, facility bills.
          </div>
        </div>
      </div>
      <div class="right">
        <%= image_tag('timeline/timeline_6.jpg', :width => 100, :height => 100) %>
        <div class="milestone_inner_wrap">        
          <div class="year">2006</div>
          <div class="event">
            <h4>We Grow Fast, Get Award.</h4>
            Recognized as one of Utah’s fastest 
            growing firms…it’s not the last time.
          </div>
        </div>
      </div>
      
      <div class="left">
        <%= image_tag('timeline/timeline_7.jpg', :width => 100, :height => 100) %>
        <div class="milestone_inner_wrap">        
          <div class="year">2007</div>
          <div class="event">
            <h4>We Join the ISO Family.</h4>
            We are acquired by ISO in the fall
            and join ISO’s health care family.
          </div>
        </div>
      </div>
      <div class="right">
        <%= image_tag('timeline/timeline_8.jpg', :width => 100, :height => 100) %>
        <div class="milestone_inner_wrap">        
          <div class="year">2008</div>
          <div class="event">
            <h4>We Create Profiler Mag.</h4>
            We create Profiler Magazine, the 
            only dedicated health fraud journal.
          </div>
        </div>
      </div>
      
      <div class="left">
        <%= image_tag('timeline/timeline_9.jpg', :width => 100, :height => 100) %>
        <div class="milestone_inner_wrap">        
          <div class="year">2009</div>
          <div class="event">
            <h4>Our Parent Goes Public.</h4>
            ISO forms Verisk Analytics and 
            joins the Nasdaq under VRSK.
          </div>
        </div>
      </div>
      <div class="right">
        <%= image_tag('timeline/timeline_10.jpg', :width => 100, :height => 100) %>
        <div class="milestone_inner_wrap">        
          <div class="year">2010</div>
          <div class="event">
            <h4>We Launch Nucleus.</h4>
            Our most advanced payment 
            Integrity platform debuts.
          </div>
        </div>
      </div>

      <div class="clear"></div>
    </div>
  </div>
  <div class="benefits_content grid_12 alpha omega">
    <h2 class="page_header apply_here_header full_wrap">Come To Work At HCI</h2>
    <p class="apply_sub_header orange">Experienced Professionals<br/>Changing the Health Care Industry.</p>
    <%= render :partial => "health_care/job_board" %>
  </div>
</div>