
<% meta_keywords("nucleus fraud prevention software, fraud prevention software, payor software solutions, heath care fraud prevention solutions, health care fraud software")%>
<% meta_description("Nucleus is a fraud prevention software solution.") %>

<% content_for :banner do %>
  <%= render :partial => "health_care/nucleus_banner" %>
<% end %>

<div class="grid_12 alpha omega benefit_grid">
  <div class="inner_benefit_grid">
    <div class="benefit_grid_box left_side_box bene_odd_row">
      <div class="benefit_avatar_wrap bene1"></div>
      <div class="benefit_content_wrap">      
        <h3 class="htest"><%= link_to "Real Time Processing", '#panel2' %></h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin nisl justo, volutpat non sodales in, malesuada sit amet tellus</p>
      </div>
    </div>
    <div class="benefit_grid_box right_side_box bene_odd_row">
      <div class="benefit_avatar_wrap bene2"></div>
      <div class="benefit_content_wrap">      
        <h3><%= link_to "Next-Gen Fraud Models", '#panel3' %></h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin nisl justo, volutpat non sodales in, malesuada sit amet tellus</p>
      </div>
    </div>
    <div class="benefit_grid_box left_side_box bene_even_row">
      <div class="benefit_avatar_wrap bene3"></div>
      <div class="benefit_content_wrap">      
        <h3><%= link_to "Ultimate User Experience", '#panel4' %></h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin nisl justo, volutpat non sodales in, malesuada sit amet tellus</p>
      </div>
    </div>
    <div class="benefit_grid_box right_side_box bene_even_row">
      <div class="benefit_avatar_wrap bene4"></div>
      <div class="benefit_content_wrap">      
        <h3><h3><%= link_to "Go Atomic", '#panel5' %></h3></h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin nisl justo, volutpat non sodales in, malesuada sit amet tellus</p>
      </div>
    </div>
    <div class="clear"></div>
  </div>
</div>