<div class="contact_form_wrap">
  <% form_tag("http://www2.hcinsight.com/l/1492/2009-12-21/G1YG9", :method => "post", :id => "contact_form") do %>
    <div>
      <%= label :contact, :contact_first_name, "First Name" %><br />
      <%= text_field :contact, :contact_first_name, :name => "contact_us_first_name" %>
    </div>
    <div>
      <%= label :contact, :contact_last_name, "Last Name" %><br />
      <%= text_field :contact, :contact_last_name, :name => "contact_us_last_name" %>
    </div>
    <div>
      <%= label :contact, :email, "Email Address" %><br />
      <%= text_field :contact, :email, :name => "contact_us_email" %>
    </div>
    <div>
      <%= label :contact, :business_name, "Company" %><br />
      <%= text_field :contact, :business_name, :name => "contact_us_business_name" %>
    </div>
    <div>
      <%= label :contact, :comment, "Comments" %><br />
      <%= text_area :contact, :comment, :name => "contact_us_comment", :rows => 3, :cols => 28   %>
    </div>
    <div>
      <%= label :contact, :position, "Position" %><br />
      <%= text_field :contact, :position, :name => "contact_us_position" %>
    </div>
    <%= submit_tag 'Submit', :class => "big_orange_submit contact_submit", :title => "Submit Your Message to HealthCare Insight" %>
  <% end %>
</div>
