<% form_for(@ticket_status) do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :status_name %><br />
    <%= f.text_field :status_name %>
  </p>
  <p>
    <%= f.label :status_type %><br />
    <%= f.text_field :status_type %>
  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>