<h1>Listing ticket_statuses</h1>

<table>
  <tr>
    <th>Status type</th>
  </tr>

<% @ticket_statuses.each do |ticket_status| %>
  <tr>
    <td><%=h ticket_status.status_type %></td>
    <td><%= link_to 'Show', ticket_status %></td>
    <td><%= link_to 'Edit', edit_ticket_status_path(ticket_status) %></td>
    <td><%= link_to 'Destroy', ticket_status, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New ticket_status', new_ticket_status_path %>