<% page_title "Health Care Links "%>

<% content_for :banner do %>
  <%= render :partial => "links/banner" %>
<% end %>

<% content_for :sidebar do %>
  <%= render :partial => 'layouts/sub_boxes' %>
<% end %>

<!-- Render Helper Module Here -->

<table>
  <tr>
    <th>Title</th>
    <th>Description</th>
    <th>Link url</th>
    <th>Keywords</th>
    <th>Permalink</th>
  </tr>

<% @links.each do |link| %>
  <tr>
    <td><%=h link.title %></td>
    <td><%=h link.description %></td>
    <td><%=h link.link_url %></td>
    <td><%=h link.keywords %></td>
    <td><%=h link.permalink %></td>
    <%= link_to 'Show', link %>
    <% if current_user %>
    <%= link_to 'New link', new_link_path %> |
    <%= link_to 'Edit', edit_link_path(link) %> |
    <%= link_to 'Delete', link, :confirm => 'Are you sure?', :method => :delete %>
    <% end %>
  </tr>
<% end %>
</table>

<br />
<%= link_to "Back", request.env["HTTP_REFERER"] %>