  <div class="resource_section full_wrap">
    <h3 class="orange">Brochures &amp; Magazines</h3>
    <% documents.each do |doc| %>
      <div class="resource_brochure">
        <% doc.coverflows.each do |coverflow| %>
          <%= link_to image_tag(coverflow.cover.url(:brochure), :alt => doc.title), document_path(doc) %>
        <% end %>
        <h4><%= link_to "#{doc.title}", document_path(doc)  %></h4>
        <p>
          <%= doc.brochure_sub_heading %>
        </p>
        <%= link_to "View", document_path(doc) %> | <%= link_to "Download", " #{doc.download_link}", :alt => "Download #{doc.title} Brochure" %>
      </div>
    <% end %>
  </div>