<% meta_keywords("health care resources")%>
<% meta_description("HealthCare Insight provides many resources to help you combat health care fraud.") %>
<% page_title("Health Care Media Lab ") %>

<% content_for :banner do %>
  <%= render :partial => "resources/banner" %>
<% end %>
<div class="grid_12 alpha omega">
  <%= render :partial => 'resource_brochures', :locals => {:documents => @documents} %>
  <%= render :partial => 'resource_videos' %>
  <%= render :partial => 'resource_articles', :locals => {:objects => @articles} %>
  <%= render :partial => 'resource_press_releases', :locals => {:objects => @press_releases} %>
  <%= render :partial => 'events/events_list', :locals => {:objects => @events} %>
</div>
