<% meta_keywords("health care resources, health care fraud fighting resources, fraud fighting tools, health care fraud prevention tools")%>
<% meta_description("HealthCare Insight provides many resources and tools to help you combat health care fraud.") %>
<% page_title("Health Care Resources ") %>

<% content_for :banner do %>
  <%= render :partial => "resources/banner" %>
<% end %>
<div class="grid_12 alpha omega">
  <%= render :partial => 'resource_brochures', :locals => {:documents => @documents} %>
  <%= render :partial => 'resource_videos' %>
  <%= render :partial => "claim_savers/claim_saver_resource", :locals => {:webinar => @webinar} %>
  <%= render :partial => 'resource_articles', :locals => {:objects => @articles} %>
  <%= render :partial => 'resource_press_releases', :locals => {:objects => @press_releases} %>
  <%= render :partial => 'events/events_list', :locals => {:objects => @events} %>
  <%#= render :partial => 'articles/current_ad', :locals => {:ads => @advertisements} %>
</div>
