<% page_title "ClaimSaver Webinars "%>
<% meta_keywords("health care claim saver webinar videos, health care webinar fraud videos, fraud awareness webinar videos")%>
<% meta_description("Health Care fraud is a huge problem in America. HealthCare Insight provides videos to keep you informed and educated about the growing problem") %>

<% content_for :banner do %>
  <%= render :partial => "claim_savers/banner" %>
<% end %>

<!-- Render Helper Module Here -->
<div class="grid_8 top_10_wrap">
  <h3 class="orange">The ClaimSaver Webinar Series</h3>
  <p>
    Here you’ll find our most recent and upcoming webinars posted for the benefit our clients, prospective clients, and friends. They’re complimentary. Please indulge our brief registration procedure for attending or viewing these webinars—it helps us understand and serve you better.
  </p>
  <div id="video_playlist"> 
  <%= render :partial => "videos/index_video", :locals => {:videos => @videos} %>
  </div>
  <!-- element that is overlayed, visuals are done with external CSS --> 
</div>
<div class="grid_4 alpha omega right top_10_wrap">
  <%= render :partial => 'resources/resource_press_releases', :locals => {:objects => @press_releases} %>
  <%= render :partial => 'events/events_list', :locals => {:objects => @events} %>
  <%= render :partial => 'articles/current_ad', :locals => {:ads => @advertisements} %>
</div>
<div id="video_div" class="overlay">
    <!-- flowplayer container --> 
    <div id="player"></div>
</div>
<%= javascript_include_tag 'index_videos' %>