<% 
  @newsletter_subscription = NewsletterSubscription.new
%>
<div id="footer_wrap" class="grid_12 alpha omega relative">
  <%#= render :partial => "health_care/cover_flow" %>
  <%= render :partial => "health_care/footer_links" %>
  <div class="clear"></div>
  <div id="footer_logo">
    <div class="newsletter_signup"><%= render :partial => "newsletter_subscriptions/newsletter_signup", :locals => {:newsletter_subscription => @newsletter_subscription} %></div>
    <%= render :partial => "layouts/social_links" %>
  </div>
  <div id="footer_stripe" class="grid_12 alpha omega"></div>
    <ul class="login">
      <% if current_user %>
      <li class="top_nav_wide">Welcome <%= (current_user.username).capitalize %></li><li><%= link_to "Logout", logout_path %></li>
      <% else %>
      <li><%= link_to "Login", login_path, :class => "black" %></li>
      <% end %>
    </ul>
</div>