<title><%= h(yield(:title) || "Welcome") %> | HealthCare Insight</title>
<meta http-equiv="content-type" content="text/html;charset=UTF-8" />
<meta name="description" content="<%= h(yield(:description) || "Health Care Fraud Protection and Detection Services") %>">
<meta name="keywords" content="<%= h(yield(:keywords) || "fraud, medical, dental, insurance, health, medicare fraud, health care, health fraud, fraud protection, fraud detection") %>">
<meta name="copyright" content="Copyright 2009 HCI an Verisk Health Company">
<meta name="title" CONTENT="HealthCare Insight">
<link ref="shortcut icon" href="favicon.ico"   type="image/ico" />
<%= auto_discovery_link_tag(type = :atom, services_url(:atom)) %>

<%#= ******** CSS ********** %>
<%#= stylesheet_link_tag 'reset-fonts-grids', 'jquiwidgets', '960', 'alerts/jquery.alerts', 'application' %>
<%= stylesheet_link_merged :base %>
<!--[if lt IE 7]>
  <link rel="stylesheet" type="text/css" href="stylesheets/IE6.css" />
<![endif]-->

<!--[if lt IE 7]>
  <link rel="stylesheet" type="text/css" href="../stylesheets/IE6.css" />
<![endif]-->

<%#= ******** JAVASCRIPTS ********** %>

<%#= javascript_include_merged :base %>

