<div id="main_nav" class="grid_16 alpha omega round_top">
  <ul id="main_nav_ul" class="nav_ul">
    <li class="main_nav_li nav1 highlight"><%= link_to "Home", home_path, :id => "home", :class => "main_nav_a" %></li>
    <li class="main_nav_li nav2 highlight"><%= link_to "Services", services_path, :id => "services", :class => "main_nav_a" %></li>
    <li class="main_nav_li nav3 highlight"><%= link_to "Media Lab", media_path, :id => "media_lab", :class => "main_nav_a" %></li>
    <li class="main_nav_li nav4 highlight"><%= link_to "Press", press_path, :id => "press", :class => "main_nav_a" %></li>
    <li class="main_nav_li nav5 highlight"><%= link_to "About Us", about_path, :id => 'about_us', :class => "main_nav_a" %></li>
    <li class="main_nav_li nav6 highlight last"><%= link_to "Contact Us", "", :id => "contact_us", :class => "main_nav_a" %></li>
  </ul>
    <%= render :partial => "layouts/search_box"%>
</div>