<div id="main_nav" class="grid_12 alpha omega">
  <ul id="main_nav_ul" class="nav_ul">
    <li class="main_nav_li nav1 highlight"><%= link_to "Home", home_path, :id => "home", :class => "main_nav_a" %></li>
    <li class="main_nav_li nav2 highlight"><%= link_to "Services", services_path, :id => "services", :class => "main_nav_a" %></li>
    <li class="main_nav_li nav3 highlight"><%= link_to "Benefits", benefits_path, :id => "benefits", :class => "main_nav_a" %></li>
    <li class="main_nav_li nav4 highlight"><%= link_to "Markets", markets_path, :id => "markets", :class => "main_nav_a" %></li>
    <li class="main_nav_li nav5 highlight"><%= link_to "Resources", media_path, :id => "resources", :class => "main_nav_a" %></li>
    <li class="main_nav_li nav6 highlight"><%= link_to "Meet Nucleus", nucleus_path, :id => "nucleus", :class => "main_nav_a" %></li>
    <li class="main_nav_li nav7 highlight"><%= link_to "Free Trial", APP['free_trial_landing_page'], :id => "free_trial", :class => "main_nav_a" %></li>
    <li class="main_nav_li nav8 highlight"><%= link_to "About Us", about_path, :id => 'about_us', :class => "main_nav_a" %></li>
    <li class="main_nav_li nav9 highlight last"><%= link_to "Contact", contact_path, :id => 'contact', :class => "main_nav_a" %></li>
  </ul>
</div>