<div id="main_nav" class="grid_16 alpha omega round_top">
  <ul class="nav_ul">
    <li class="main_nav_li nav1 highlight">
        <%= link_to "Home", home_path, :id => "home", :class => "main_nav_a" %>
    </li>
    <li class="main_nav_li nav2 highlight"><%= link_to "Resources", home_path, :id => "services", :class => "main_nav_a" %></li>
    <li class="main_nav_li nav3 highlight"><%= link_to "Videos", home_path, :id => "press", :class => "main_nav_a" %></li>
    <li class="main_nav_li nav4 highlight"><%= link_to "Newsroom", home_path, :id => "careers", :class => "main_nav_a" %></li>
    <li class="main_nav_li nav5 highlight"><%= link_to "Contact", home_path, :id => 'contact_us', :class => "main_nav_a" %></li>
    <li class="main_nav_li nav6 highlight"><%= link_to "About Us", home_path, :id => "about_us", :class => "main_nav_a" %></li>
  </ul>
</div>