<div id="top_link_wrap">
  <ul class="login">
    <% if current_user %>
    <li class="top_nav_wide">Welcome <%= (current_user.username).capitalize %></li><li><%= link_to "Logout", logout_path %></li>
    <% else %>
    <li><%= link_to "Login", login_path, :class => "black" %></li>
    <% end %>
  </ul>
  <ul id="top_links">
    <li><%= link_to "Facebook", "http://www.facebook.com/pages/Stop-Health-Care-Fraud/105583130933", :id => 'facebook_link' %></li>
    <li><%= link_to "Twitter", "http://twitter.com/StopHealthFraud", :id => 'twitter_link' %></li>
    <li><%= link_to "YouTube", "http://www.youtube.com/user/HCInsight", :id => 'youtube_link' %></li>
    <li><%= link_to "LinkedIn", "http://www.linkedin.com/groups?gid=1426647", :id => 'linkedin_link' %></li>
    <li><%= link_to "Client Login", "" %></li>
    <li><%= link_to "Webex", "https://hcinsight.webex.com/mw0305l/mywebex/default.do?siteurl=hcinsight" %></li>
  </ul>
</div>