<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <%= render :partial => "layouts/headmeta" %>
  <%= stylesheet_link_tag 'application2' %>
</head>
<body class="yui-skin-sam">
  <div id="wrapper" class="container_12">
    <%= render :partial => 'layouts/flash', :locals => {:flash => flash} %>
	  <div id="hd" class='grid_12 alpha omega'>
      <%= render :partial => "layouts/header" %>
	  </div>
	  <div class="clear"></div>
    <div id="bd" class="grid_12 alpha omega">
      <% if current_user %>
        <%= render :partial => "layouts/admin_nav" %>
      <% end %>
      <% if current_employee %>
        <%= render :partial => "layouts/employee_nav" %>
      <% end %>
      <div id="banner" class="grid_12 alpha omega">
        <%= yield :banner %>
      </div>
      <div class="clear"></div>
      <div class="main_content grid_12 alpha omega">
        <div id="main_right" class="grid_8 alpha relative">
          <%= yield %>
        </div>
        <div class="grid_4 omega relative">
          <%= yield :sidebar %>
        </div>
      </div>
    </div>
    <div id="sub_boxes" class="grid_12 alpha omega">
      <%= yield :sub_boxes %>
    </div>
    <div id="ft" class="grid_12 alpha omega">
      <%= render :partial => "layouts/footer" %>
    </div>
    <div class="clear"></div>
	</div>
	<%= render :partial => "layouts/scripts" %>
</body>
</html>
